$/improper:bytype1 @/improper:OPLSAA/X_X_003_004 $/atom:mol1/C28 $/atom:mol1/C33 $/atom:mol1/C34 $/atom:mol1/O66
$/improper:bytype2 @/improper:OPLSAA/X_X_003_004 $/atom:mol1/C29 $/atom:mol1/C32 $/atom:mol1/C31 $/atom:mol1/O67
$/improper:bytype3 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C96 $/atom:mol2/C101 $/atom:mol2/C102 $/atom:mol2/O114
$/improper:bytype4 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C97 $/atom:mol2/C100 $/atom:mol2/C99 $/atom:mol2/O113
$/improper:bytype5 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C79 $/atom:mol2/C83 $/atom:mol2/C84 $/atom:mol2/O91
$/improper:bytype6 @/improper:OPLSAA/X_X_003_004 $/atom:mol3/C141 $/atom:mol3/C145 $/atom:mol3/C146 $/atom:mol3/O147
$/improper:bytype7 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C83 $/atom:mol2/C79 $/atom:mol2/C84 $/atom:mol2/O91
$/improper:bytype8 @/improper:OPLSAA/X_X_003_004 $/atom:mol3/C145 $/atom:mol3/C141 $/atom:mol3/C146 $/atom:mol3/O147
$/improper:bytype9 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C43 $/atom:mol2/C41 $/atom:mol2/C42 $/atom:mol2/O89
$/improper:bytype10 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C41 $/atom:mol2/C43 $/atom:mol2/C42 $/atom:mol2/O89
$/improper:bytype11 @/improper:OPLSAA/X_X_003_004 $/atom:mol1/C32 $/atom:mol1/C29 $/atom:mol1/C31 $/atom:mol1/O67
$/improper:bytype12 @/improper:OPLSAA/X_X_003_004 $/atom:mol1/C33 $/atom:mol1/C28 $/atom:mol1/C34 $/atom:mol1/O66
$/improper:bytype13 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C100 $/atom:mol2/C97 $/atom:mol2/C99 $/atom:mol2/O113
$/improper:bytype14 @/improper:OPLSAA/X_X_003_004 $/atom:mol2/C101 $/atom:mol2/C96 $/atom:mol2/C102 $/atom:mol2/O114
$/improper:bytype15 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C13 $/atom:mol3/C25 $/atom:mol3/C15 $/atom:mol3/C16
$/improper:bytype16 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C18 $/atom:mol3/C31 $/atom:mol3/C30 $/atom:mol3/C36
$/improper:bytype17 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C31 $/atom:mol3/C18 $/atom:mol3/C30 $/atom:mol3/C36
$/improper:bytype18 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C103 $/atom:mol2/C105 $/atom:mol2/C104 $/atom:mol2/C110
$/improper:bytype19 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C106 $/atom:mol2/C104 $/atom:mol2/C105 $/atom:mol2/C107
$/improper:bytype20 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C35 $/atom:mol3/C33 $/atom:mol3/C34 $/atom:mol3/C37
$/improper:bytype21 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C38 $/atom:mol3/C40 $/atom:mol3/C39 $/atom:mol3/C44
$/improper:bytype22 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C38 $/atom:mol2/C40 $/atom:mol2/C39 $/atom:mol2/C45
$/improper:bytype23 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C37 $/atom:mol2/C39 $/atom:mol2/C38 $/atom:mol2/C41
$/improper:bytype24 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C37 $/atom:mol2/C41 $/atom:mol2/C38 $/atom:mol2/C39
$/improper:bytype25 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C31 $/atom:mol3/C34 $/atom:mol3/C33 $/atom:mol3/C40
$/improper:bytype26 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C31 $/atom:mol3/C40 $/atom:mol3/C33 $/atom:mol3/C34
$/improper:bytype27 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C39 $/atom:mol2/C44 $/atom:mol2/C45 $/atom:mol2/C49
$/improper:bytype28 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C44 $/atom:mol2/C39 $/atom:mol2/C45 $/atom:mol2/C49
$/improper:bytype29 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C30 $/atom:mol3/H175 $/atom:mol3/C36 $/atom:mol3/C35
$/improper:bytype30 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C24 $/atom:mol3/C15 $/atom:mol3/C25 $/atom:mol3/H171
$/improper:bytype31 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C38 $/atom:mol2/O88 $/atom:mol2/C41 $/atom:mol2/C42
$/improper:bytype32 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C13 $/atom:mol3/C16 $/atom:mol3/C15 $/atom:mol3/C25
$/improper:bytype33 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C42 $/atom:mol2/C38 $/atom:mol2/C41 $/atom:mol2/O88
$/improper:bytype34 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C39 $/atom:mol2/C37 $/atom:mol2/C38 $/atom:mol2/C41
$/improper:bytype35 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C34 $/atom:mol3/C31 $/atom:mol3/C33 $/atom:mol3/C40
$/improper:bytype36 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C103 $/atom:mol2/C110 $/atom:mol2/C104 $/atom:mol2/C105
$/improper:bytype37 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C104 $/atom:mol2/C107 $/atom:mol2/C105 $/atom:mol2/C106
$/improper:bytype38 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C104 $/atom:mol2/C106 $/atom:mol2/C105 $/atom:mol2/C107
$/improper:bytype39 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C105 $/atom:mol2/C103 $/atom:mol2/C104 $/atom:mol2/C110
$/improper:bytype40 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C33 $/atom:mol3/C37 $/atom:mol3/C34 $/atom:mol3/C35
$/improper:bytype41 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C33 $/atom:mol3/C35 $/atom:mol3/C34 $/atom:mol3/C37
$/improper:bytype42 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C38 $/atom:mol3/C44 $/atom:mol3/C39 $/atom:mol3/C40
$/improper:bytype43 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C40 $/atom:mol3/C38 $/atom:mol3/C39 $/atom:mol3/C44
$/improper:bytype44 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C18 $/atom:mol3/C36 $/atom:mol3/C30 $/atom:mol3/C31
$/improper:bytype45 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C39 $/atom:mol2/C49 $/atom:mol2/C45 $/atom:mol2/C44
$/improper:bytype46 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C16 $/atom:mol3/C13 $/atom:mol3/C15 $/atom:mol3/C25
$/improper:bytype47 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C38 $/atom:mol2/C42 $/atom:mol2/C41 $/atom:mol2/O88
$/improper:bytype48 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C15 $/atom:mol3/C24 $/atom:mol3/C25 $/atom:mol3/H171
$/improper:bytype49 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C35 $/atom:mol3/C30 $/atom:mol3/C36 $/atom:mol3/H175
$/improper:bytype50 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C30 $/atom:mol3/C35 $/atom:mol3/C36 $/atom:mol3/H175
$/improper:bytype51 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C40 $/atom:mol2/C38 $/atom:mol2/C39 $/atom:mol2/C45
$/improper:bytype52 @/improper:OPLSAA/X_X_047_X $/atom:mol2/C38 $/atom:mol2/C45 $/atom:mol2/C39 $/atom:mol2/C40
$/improper:bytype53 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C33 $/atom:mol3/C39 $/atom:mol3/C40 $/atom:mol3/C41
$/improper:bytype54 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C39 $/atom:mol3/C33 $/atom:mol3/C40 $/atom:mol3/C41
$/improper:bytype55 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C15 $/atom:mol3/H171 $/atom:mol3/C25 $/atom:mol3/C24
$/improper:bytype56 @/improper:OPLSAA/X_X_047_X $/atom:mol3/C33 $/atom:mol3/C41 $/atom:mol3/C40 $/atom:mol3/C39
$/improper:bytype57 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C9 $/atom:mol2/C7 $/atom:mol2/C8 $/atom:mol2/C10
$/improper:bytype58 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C10 $/atom:mol2/C12 $/atom:mol2/C11 $/atom:mol2/C17
$/improper:bytype59 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C13 $/atom:mol2/C11 $/atom:mol2/C12 $/atom:mol2/C14
$/improper:bytype60 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C17 $/atom:mol2/C15 $/atom:mol2/C16 $/atom:mol2/C18
$/improper:bytype61 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C29 $/atom:mol2/C31 $/atom:mol2/C30 $/atom:mol2/C36
$/improper:bytype62 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C32 $/atom:mol2/C30 $/atom:mol2/C31 $/atom:mol2/C33
$/improper:bytype63 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C62 $/atom:mol2/C67 $/atom:mol2/C68 $/atom:mol2/C69
$/improper:bytype64 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C17 $/atom:mol3/C20 $/atom:mol3/C19 $/atom:mol3/C32
$/improper:bytype65 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C50 $/atom:mol3/C52 $/atom:mol3/C51 $/atom:mol3/C57
$/improper:bytype66 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C57 $/atom:mol3/C55 $/atom:mol3/C56 $/atom:mol3/C58
$/improper:bytype67 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C84 $/atom:mol3/C67 $/atom:mol3/C85 $/atom:mol3/C95
$/improper:bytype68 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C95 $/atom:mol3/C70 $/atom:mol3/C94 $/atom:mol3/C98
$/improper:bytype69 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C128 $/atom:mol3/C126 $/atom:mol3/C127 $/atom:mol3/C129
$/improper:bytype70 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C130 $/atom:mol3/C132 $/atom:mol3/C131 $/atom:mol3/C138
$/improper:bytype71 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C137 $/atom:mol3/C133 $/atom:mol3/C136 $/atom:mol3/C141
$/improper:bytype72 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C139 $/atom:mol3/C134 $/atom:mol3/C140 $/atom:mol3/C142
$/improper:bytype73 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C18 $/atom:mol2/C20 $/atom:mol2/C19 $/atom:mol2/N25
$/improper:bytype74 @/improper:OPLSAA/X_X_048_X $/atom:mol2/N66 $/atom:mol2/C68 $/atom:mol2/C67 $/atom:mol2/C72
$/improper:bytype75 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C33 $/atom:mol1/C31 $/atom:mol1/C32 $/atom:mol1/C38
$/improper:bytype76 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C33 $/atom:mol2/C35 $/atom:mol2/C34 $/atom:mol2/C40
$/improper:bytype77 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C35 $/atom:mol2/C33 $/atom:mol2/C34 $/atom:mol2/C40
$/improper:bytype78 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C3 $/atom:mol1/C5 $/atom:mol1/C4 $/atom:mol1/C7
$/improper:bytype79 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C4 $/atom:mol1/C2 $/atom:mol1/C3 $/atom:mol1/C10
$/improper:bytype80 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C8 $/atom:mol1/C11 $/atom:mol1/C9 $/atom:mol1/C10
$/improper:bytype81 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C78 $/atom:mol2/C84 $/atom:mol2/C79 $/atom:mol2/C80
$/improper:bytype82 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C29 $/atom:mol3/C46 $/atom:mol3/C45 $/atom:mol3/S49
$/improper:bytype83 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C47 $/atom:mol3/C50 $/atom:mol3/C48 $/atom:mol3/S49
$/improper:bytype84 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C44 $/atom:mol2/C42 $/atom:mol2/C43 $/atom:mol2/C50
$/improper:bytype85 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C16 $/atom:mol3/C19 $/atom:mol3/C17 $/atom:mol3/C18
$/improper:bytype86 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C31 $/atom:mol3/C19 $/atom:mol3/C32 $/atom:mol3/C46
$/improper:bytype87 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C101 $/atom:mol3/C99 $/atom:mol3/C100 $/atom:mol3/C105
$/improper:bytype88 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C108 $/atom:mol3/C116 $/atom:mol3/C115 $/atom:mol3/C139
$/improper:bytype89 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C1 $/atom:mol1/C5 $/atom:mol1/C6 $/atom:mol1/C54
$/improper:bytype90 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C5 $/atom:mol1/C1 $/atom:mol1/C6 $/atom:mol1/C54
$/improper:bytype91 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C37 $/atom:mol1/C41 $/atom:mol1/C42 $/atom:mol1/C43
$/improper:bytype92 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C36 $/atom:mol1/C42 $/atom:mol1/C37 $/atom:mol1/C38
$/improper:bytype93 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C41 $/atom:mol1/C37 $/atom:mol1/C42 $/atom:mol1/C43
$/improper:bytype94 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C36 $/atom:mol1/C38 $/atom:mol1/C37 $/atom:mol1/C42
$/improper:bytype95 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C47 $/atom:mol1/C53 $/atom:mol1/C48 $/atom:mol1/C49
$/improper:bytype96 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C47 $/atom:mol1/C49 $/atom:mol1/C48 $/atom:mol1/C53
$/improper:bytype97 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C2 $/atom:mol2/C9 $/atom:mol2/C3 $/atom:mol2/C4
$/improper:bytype98 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C2 $/atom:mol2/C4 $/atom:mol2/C3 $/atom:mol2/C9
$/improper:bytype99 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C22 $/atom:mol2/C24 $/atom:mol2/C23 $/atom:mol2/C28
$/improper:bytype100 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C24 $/atom:mol2/C22 $/atom:mol2/C23 $/atom:mol2/C28
$/improper:bytype101 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C26 $/atom:mol2/C29 $/atom:mol2/C27 $/atom:mol2/C28
$/improper:bytype102 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C28 $/atom:mol2/C26 $/atom:mol2/C27 $/atom:mol2/C29
$/improper:bytype103 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C44 $/atom:mol2/C52 $/atom:mol2/C46 $/atom:mol2/C47
$/improper:bytype104 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C46 $/atom:mol2/C51 $/atom:mol2/C52 $/atom:mol2/C53
$/improper:bytype105 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C50 $/atom:mol2/C52 $/atom:mol2/C51 $/atom:mol2/C56
$/improper:bytype106 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C51 $/atom:mol2/C46 $/atom:mol2/C52 $/atom:mol2/C53
$/improper:bytype107 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C52 $/atom:mol2/C50 $/atom:mol2/C51 $/atom:mol2/C56
$/improper:bytype108 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C47 $/atom:mol2/C44 $/atom:mol2/C46 $/atom:mol2/C52
$/improper:bytype109 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C54 $/atom:mol2/C57 $/atom:mol2/C55 $/atom:mol2/C56
$/improper:bytype110 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C54 $/atom:mol2/C59 $/atom:mol2/C60 $/atom:mol2/C61
$/improper:bytype111 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C53 $/atom:mol2/C60 $/atom:mol2/C54 $/atom:mol2/C55
$/improper:bytype112 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C55 $/atom:mol2/C58 $/atom:mol2/C57 $/atom:mol2/C76
$/improper:bytype113 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C57 $/atom:mol2/C59 $/atom:mol2/C58 $/atom:mol2/C73
$/improper:bytype114 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C56 $/atom:mol2/C54 $/atom:mol2/C55 $/atom:mol2/C57
$/improper:bytype115 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C58 $/atom:mol2/C55 $/atom:mol2/C57 $/atom:mol2/C76
$/improper:bytype116 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C58 $/atom:mol2/C60 $/atom:mol2/C59 $/atom:mol2/C64
$/improper:bytype117 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C59 $/atom:mol2/C57 $/atom:mol2/C58 $/atom:mol2/C73
$/improper:bytype118 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C59 $/atom:mol2/C54 $/atom:mol2/C60 $/atom:mol2/C61
$/improper:bytype119 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C60 $/atom:mol2/C58 $/atom:mol2/C59 $/atom:mol2/C64
$/improper:bytype120 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C53 $/atom:mol2/C55 $/atom:mol2/C54 $/atom:mol2/C60
$/improper:bytype121 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C62 $/atom:mol2/C65 $/atom:mol2/C63 $/atom:mol2/C64
$/improper:bytype122 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C64 $/atom:mol2/C62 $/atom:mol2/C63 $/atom:mol2/C65
$/improper:bytype123 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C74 $/atom:mol2/C77 $/atom:mol2/C75 $/atom:mol2/C76
$/improper:bytype124 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C74 $/atom:mol2/C79 $/atom:mol2/C80 $/atom:mol2/C81
$/improper:bytype125 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C73 $/atom:mol2/C80 $/atom:mol2/C74 $/atom:mol2/C75
$/improper:bytype126 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C76 $/atom:mol2/C74 $/atom:mol2/C75 $/atom:mol2/C77
$/improper:bytype127 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C79 $/atom:mol2/C74 $/atom:mol2/C80 $/atom:mol2/C81
$/improper:bytype128 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C73 $/atom:mol2/C75 $/atom:mol2/C74 $/atom:mol2/C80
$/improper:bytype129 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C6 $/atom:mol1/C4 $/atom:mol1/C5 $/atom:mol1/C57
$/improper:bytype130 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C1 $/atom:mol1/C3 $/atom:mol1/C2 $/atom:mol1/C58
$/improper:bytype131 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C12 $/atom:mol1/C9 $/atom:mol1/C11 $/atom:mol1/C59
$/improper:bytype132 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C11 $/atom:mol1/C13 $/atom:mol1/C12 $/atom:mol1/C60
$/improper:bytype133 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C14 $/atom:mol1/C16 $/atom:mol1/C15 $/atom:mol1/H74
$/improper:bytype134 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C16 $/atom:mol1/C14 $/atom:mol1/C15 $/atom:mol1/H74
$/improper:bytype135 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C8 $/atom:mol2/C11 $/atom:mol2/C10 $/atom:mol2/H136
$/improper:bytype136 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C11 $/atom:mol2/C8 $/atom:mol2/C10 $/atom:mol2/H136
$/improper:bytype137 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C7 $/atom:mol2/C12 $/atom:mol2/C13 $/atom:mol2/H137
$/improper:bytype138 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C12 $/atom:mol2/C7 $/atom:mol2/C13 $/atom:mol2/H137
$/improper:bytype139 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C12 $/atom:mol2/C15 $/atom:mol2/C14 $/atom:mol2/H138
$/improper:bytype140 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C15 $/atom:mol2/C12 $/atom:mol2/C14 $/atom:mol2/H138
$/improper:bytype141 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C11 $/atom:mol2/C16 $/atom:mol2/C17 $/atom:mol2/H139
$/improper:bytype142 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C16 $/atom:mol2/C11 $/atom:mol2/C17 $/atom:mol2/H139
$/improper:bytype143 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C16 $/atom:mol2/C19 $/atom:mol2/C18 $/atom:mol2/H188
$/improper:bytype144 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C19 $/atom:mol2/C16 $/atom:mol2/C18 $/atom:mol2/H188
$/improper:bytype145 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C51 $/atom:mol3/C56 $/atom:mol3/C57 $/atom:mol3/H189
$/improper:bytype146 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C56 $/atom:mol3/C51 $/atom:mol3/C57 $/atom:mol3/H189
$/improper:bytype147 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C27 $/atom:mol3/C62 $/atom:mol3/C63 $/atom:mol3/H190
$/improper:bytype148 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C62 $/atom:mol3/C27 $/atom:mol3/C63 $/atom:mol3/H190
$/improper:bytype149 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C85 $/atom:mol3/C94 $/atom:mol3/C95 $/atom:mol3/H217
$/improper:bytype150 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C94 $/atom:mol3/C85 $/atom:mol3/C95 $/atom:mol3/H217
$/improper:bytype151 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C94 $/atom:mol3/C97 $/atom:mol3/C98 $/atom:mol3/H218
$/improper:bytype152 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C97 $/atom:mol3/C94 $/atom:mol3/C98 $/atom:mol3/H218
$/improper:bytype153 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C7 $/atom:mol1/C9 $/atom:mol1/C8 $/atom:mol1/C14
$/improper:bytype154 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C7 $/atom:mol1/C14 $/atom:mol1/C8 $/atom:mol1/C9
$/improper:bytype155 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C42 $/atom:mol2/C44 $/atom:mol2/C43 $/atom:mol2/C50
$/improper:bytype156 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C42 $/atom:mol2/C50 $/atom:mol2/C43 $/atom:mol2/C44
$/improper:bytype157 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C8 $/atom:mol2/C3 $/atom:mol2/C9 $/atom:mol2/H135
$/improper:bytype158 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C20 $/atom:mol2/C23 $/atom:mol2/C22 $/atom:mol2/H140
$/improper:bytype159 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C30 $/atom:mol2/C27 $/atom:mol2/C29 $/atom:mol2/H143
$/improper:bytype160 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C30 $/atom:mol2/C35 $/atom:mol2/C36 $/atom:mol2/H146
$/improper:bytype161 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C31 $/atom:mol2/C26 $/atom:mol2/C32 $/atom:mol2/H144
$/improper:bytype162 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C31 $/atom:mol2/C34 $/atom:mol2/C33 $/atom:mol2/H145
$/improper:bytype163 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C67 $/atom:mol2/C71 $/atom:mol2/C72 $/atom:mol2/H166
$/improper:bytype164 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C68 $/atom:mol2/C70 $/atom:mol2/C69 $/atom:mol2/H164
$/improper:bytype165 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C51 $/atom:mol3/C48 $/atom:mol3/C50 $/atom:mol3/H188
$/improper:bytype166 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C68 $/atom:mol3/C100 $/atom:mol3/C101 $/atom:mol3/H219
$/improper:bytype167 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C114 $/atom:mol3/C122 $/atom:mol3/C121 $/atom:mol3/H237
$/improper:bytype168 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C127 $/atom:mol3/C123 $/atom:mol3/C128 $/atom:mol3/H239
$/improper:bytype169 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C127 $/atom:mol3/C130 $/atom:mol3/C129 $/atom:mol3/H240
$/improper:bytype170 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C131 $/atom:mol3/C129 $/atom:mol3/C130 $/atom:mol3/H241
$/improper:bytype171 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C131 $/atom:mol3/C137 $/atom:mol3/C138 $/atom:mol3/H243
$/improper:bytype172 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C136 $/atom:mol3/C138 $/atom:mol3/C137 $/atom:mol3/H242
$/improper:bytype173 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C140 $/atom:mol3/C115 $/atom:mol3/C139 $/atom:mol3/H244
$/improper:bytype174 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C18 $/atom:mol2/N25 $/atom:mol2/C19 $/atom:mol2/C20
$/improper:bytype175 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C68 $/atom:mol2/N66 $/atom:mol2/C67 $/atom:mol2/C72
$/improper:bytype176 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C37 $/atom:mol2/C98 $/atom:mol2/C93 $/atom:mol2/C94
$/improper:bytype177 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C8 $/atom:mol1/C15 $/atom:mol1/C14 $/atom:mol1/C13
$/improper:bytype178 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C17 $/atom:mol1/C15 $/atom:mol1/C16 $/atom:mol1/C22
$/improper:bytype179 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C20 $/atom:mol3/C45 $/atom:mol3/C29 $/atom:mol3/C28
$/improper:bytype180 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C28 $/atom:mol3/C48 $/atom:mol3/C47 $/atom:mol3/C53
$/improper:bytype181 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C53 $/atom:mol3/C63 $/atom:mol3/C62 $/atom:mol3/C65
$/improper:bytype182 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C60 $/atom:mol3/C101 $/atom:mol3/C68 $/atom:mol3/C69
$/improper:bytype183 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C61 $/atom:mol3/C59 $/atom:mol3/C60 $/atom:mol3/C68
$/improper:bytype184 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C62 $/atom:mol3/C83 $/atom:mol3/C65 $/atom:mol3/C64
$/improper:bytype185 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C96 $/atom:mol3/C100 $/atom:mol3/C99 $/atom:mol3/C104
$/improper:bytype186 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C99 $/atom:mol3/C107 $/atom:mol3/C104 $/atom:mol3/C103
$/improper:bytype187 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C103 $/atom:mol3/C121 $/atom:mol3/C114 $/atom:mol3/C113
$/improper:bytype188 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C112 $/atom:mol3/C115 $/atom:mol3/C116 $/atom:mol3/C135
$/improper:bytype189 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C113 $/atom:mol3/C107 $/atom:mol3/C112 $/atom:mol3/C116
$/improper:bytype190 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C113 $/atom:mol3/C123 $/atom:mol3/C124 $/atom:mol3/C125
$/improper:bytype191 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C5 $/atom:mol2/C3 $/atom:mol2/C4 $/atom:mol2/C6
$/improper:bytype192 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C136 $/atom:mol3/C146 $/atom:mol3/C141 $/atom:mol3/C142
$/improper:bytype193 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C34 $/atom:mol1/C32 $/atom:mol1/C33 $/atom:mol1/C35
$/improper:bytype194 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C102 $/atom:mol2/C100 $/atom:mol2/C101 $/atom:mol2/C103
$/improper:bytype195 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C99 $/atom:mol2/C101 $/atom:mol2/C100 $/atom:mol2/C106
$/improper:bytype196 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C78 $/atom:mol2/C75 $/atom:mol2/C77 $/atom:mol2/H171
$/improper:bytype197 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C16 $/atom:mol1/C21 $/atom:mol1/C22 $/atom:mol1/C27
$/improper:bytype198 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C21 $/atom:mol1/C16 $/atom:mol1/C22 $/atom:mol1/C27
$/improper:bytype199 @/improper:OPLSAA/X_X_048_X $/atom:mol3/O26 $/atom:mol3/C28 $/atom:mol3/C27 $/atom:mol3/C63
$/improper:bytype200 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C22 $/atom:mol3/C20 $/atom:mol3/C21 $/atom:mol3/O26
$/improper:bytype201 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C98 $/atom:mol3/C96 $/atom:mol3/C97 $/atom:mol3/O102
$/improper:bytype202 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C40 $/atom:mol2/C93 $/atom:mol2/C94 $/atom:mol2/C95
$/improper:bytype203 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C7 $/atom:mol2/C4 $/atom:mol2/C6 $/atom:mol2/O85
$/improper:bytype204 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C97 $/atom:mol2/C93 $/atom:mol2/C98 $/atom:mol2/O111
$/improper:bytype205 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C96 $/atom:mol2/C94 $/atom:mol2/C95 $/atom:mol2/O112
$/improper:bytype206 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C40 $/atom:mol1/C48 $/atom:mol1/C49 $/atom:mol1/C50
$/improper:bytype207 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C40 $/atom:mol1/C50 $/atom:mol1/C49 $/atom:mol1/C48
$/improper:bytype208 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C48 $/atom:mol1/C40 $/atom:mol1/C49 $/atom:mol1/C50
$/improper:bytype209 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C24 $/atom:mol2/C27 $/atom:mol2/C26 $/atom:mol2/C32
$/improper:bytype210 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C24 $/atom:mol2/C32 $/atom:mol2/C26 $/atom:mol2/C27
$/improper:bytype211 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C27 $/atom:mol2/C24 $/atom:mol2/C26 $/atom:mol2/C32
$/improper:bytype212 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C124 $/atom:mol3/C122 $/atom:mol3/C123 $/atom:mol3/C128
$/improper:bytype213 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C122 $/atom:mol3/C128 $/atom:mol3/C123 $/atom:mol3/C124
$/improper:bytype214 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C15 $/atom:mol1/C17 $/atom:mol1/C16 $/atom:mol1/C22
$/improper:bytype215 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C15 $/atom:mol1/C22 $/atom:mol1/C16 $/atom:mol1/C17
$/improper:bytype216 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C8 $/atom:mol1/C13 $/atom:mol1/C14 $/atom:mol1/C15
$/improper:bytype217 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C13 $/atom:mol1/C8 $/atom:mol1/C14 $/atom:mol1/C15
$/improper:bytype218 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C20 $/atom:mol3/C28 $/atom:mol3/C29 $/atom:mol3/C45
$/improper:bytype219 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C28 $/atom:mol3/C20 $/atom:mol3/C29 $/atom:mol3/C45
$/improper:bytype220 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C48 $/atom:mol3/C28 $/atom:mol3/C47 $/atom:mol3/C53
$/improper:bytype221 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C28 $/atom:mol3/C53 $/atom:mol3/C47 $/atom:mol3/C48
$/improper:bytype222 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C59 $/atom:mol3/C61 $/atom:mol3/C60 $/atom:mol3/C68
$/improper:bytype223 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C59 $/atom:mol3/C68 $/atom:mol3/C60 $/atom:mol3/C61
$/improper:bytype224 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C63 $/atom:mol3/C53 $/atom:mol3/C62 $/atom:mol3/C65
$/improper:bytype225 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C53 $/atom:mol3/C65 $/atom:mol3/C62 $/atom:mol3/C63
$/improper:bytype226 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C62 $/atom:mol3/C64 $/atom:mol3/C65 $/atom:mol3/C83
$/improper:bytype227 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C64 $/atom:mol3/C62 $/atom:mol3/C65 $/atom:mol3/C83
$/improper:bytype228 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C100 $/atom:mol3/C96 $/atom:mol3/C99 $/atom:mol3/C104
$/improper:bytype229 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C96 $/atom:mol3/C104 $/atom:mol3/C99 $/atom:mol3/C100
$/improper:bytype230 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C60 $/atom:mol3/C69 $/atom:mol3/C68 $/atom:mol3/C101
$/improper:bytype231 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C69 $/atom:mol3/C60 $/atom:mol3/C68 $/atom:mol3/C101
$/improper:bytype232 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C99 $/atom:mol3/C103 $/atom:mol3/C104 $/atom:mol3/C107
$/improper:bytype233 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C103 $/atom:mol3/C99 $/atom:mol3/C104 $/atom:mol3/C107
$/improper:bytype234 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C107 $/atom:mol3/C113 $/atom:mol3/C112 $/atom:mol3/C116
$/improper:bytype235 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C107 $/atom:mol3/C116 $/atom:mol3/C112 $/atom:mol3/C113
$/improper:bytype236 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C115 $/atom:mol3/C112 $/atom:mol3/C116 $/atom:mol3/C135
$/improper:bytype237 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C112 $/atom:mol3/C135 $/atom:mol3/C116 $/atom:mol3/C115
$/improper:bytype238 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C103 $/atom:mol3/C113 $/atom:mol3/C114 $/atom:mol3/C121
$/improper:bytype239 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C113 $/atom:mol3/C103 $/atom:mol3/C114 $/atom:mol3/C121
$/improper:bytype240 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C123 $/atom:mol3/C113 $/atom:mol3/C124 $/atom:mol3/C125
$/improper:bytype241 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C113 $/atom:mol3/C125 $/atom:mol3/C124 $/atom:mol3/C123
$/improper:bytype242 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C56 $/atom:mol3/C59 $/atom:mol3/C58 $/atom:mol3/C74
$/improper:bytype243 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C75 $/atom:mol2/C78 $/atom:mol2/C77 $/atom:mol2/H171
$/improper:bytype244 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C12 $/atom:mol1/C14 $/atom:mol1/C13 $/atom:mol1/C18
$/improper:bytype245 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C18 $/atom:mol1/C16 $/atom:mol1/C17 $/atom:mol1/C19
$/improper:bytype246 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C20 $/atom:mol1/C22 $/atom:mol1/C21 $/atom:mol1/C30
$/improper:bytype247 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C6 $/atom:mol2/C8 $/atom:mol2/C7 $/atom:mol2/C13
$/improper:bytype248 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C14 $/atom:mol2/C16 $/atom:mol2/C15 $/atom:mol2/C21
$/improper:bytype249 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C21 $/atom:mol2/C19 $/atom:mol2/C20 $/atom:mol2/C22
$/improper:bytype250 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C32 $/atom:mol1/N39 $/atom:mol1/C38 $/atom:mol1/C37
$/improper:bytype251 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C41 $/atom:mol1/N39 $/atom:mol1/C40 $/atom:mol1/C49
$/improper:bytype252 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C23 $/atom:mol2/N25 $/atom:mol2/C24 $/atom:mol2/C26
$/improper:bytype253 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C3 $/atom:mol2/C8 $/atom:mol2/C9 $/atom:mol2/H135
$/improper:bytype254 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C23 $/atom:mol2/C20 $/atom:mol2/C22 $/atom:mol2/H140
$/improper:bytype255 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C27 $/atom:mol2/C30 $/atom:mol2/C29 $/atom:mol2/H143
$/improper:bytype256 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C26 $/atom:mol2/C31 $/atom:mol2/C32 $/atom:mol2/H144
$/improper:bytype257 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C34 $/atom:mol2/C31 $/atom:mol2/C33 $/atom:mol2/H145
$/improper:bytype258 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C35 $/atom:mol2/C30 $/atom:mol2/C36 $/atom:mol2/H146
$/improper:bytype259 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C70 $/atom:mol2/C68 $/atom:mol2/C69 $/atom:mol2/H164
$/improper:bytype260 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C71 $/atom:mol2/C67 $/atom:mol2/C72 $/atom:mol2/H166
$/improper:bytype261 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C48 $/atom:mol3/C51 $/atom:mol3/C50 $/atom:mol3/H188
$/improper:bytype262 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C100 $/atom:mol3/C68 $/atom:mol3/C101 $/atom:mol3/H219
$/improper:bytype263 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C122 $/atom:mol3/C114 $/atom:mol3/C121 $/atom:mol3/H237
$/improper:bytype264 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C123 $/atom:mol3/C127 $/atom:mol3/C128 $/atom:mol3/H239
$/improper:bytype265 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C130 $/atom:mol3/C127 $/atom:mol3/C129 $/atom:mol3/H240
$/improper:bytype266 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C129 $/atom:mol3/C131 $/atom:mol3/C130 $/atom:mol3/H241
$/improper:bytype267 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C138 $/atom:mol3/C136 $/atom:mol3/C137 $/atom:mol3/H242
$/improper:bytype268 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C137 $/atom:mol3/C131 $/atom:mol3/C138 $/atom:mol3/H243
$/improper:bytype269 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C115 $/atom:mol3/C140 $/atom:mol3/C139 $/atom:mol3/H244
$/improper:bytype270 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C60 $/atom:mol3/C58 $/atom:mol3/C59 $/atom:mol3/O71
$/improper:bytype271 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C85 $/atom:mol3/C83 $/atom:mol3/C84 $/atom:mol3/O86
$/improper:bytype272 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C65 $/atom:mol3/C84 $/atom:mol3/C83 $/atom:mol3/O89
$/improper:bytype273 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C12 $/atom:mol1/C18 $/atom:mol1/C13 $/atom:mol1/C14
$/improper:bytype274 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C16 $/atom:mol1/C18 $/atom:mol1/C17 $/atom:mol1/C19
$/improper:bytype275 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C20 $/atom:mol1/C30 $/atom:mol1/C21 $/atom:mol1/C22
$/improper:bytype276 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C8 $/atom:mol2/C6 $/atom:mol2/C7 $/atom:mol2/C13
$/improper:bytype277 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C14 $/atom:mol2/C21 $/atom:mol2/C15 $/atom:mol2/C16
$/improper:bytype278 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C19 $/atom:mol2/C21 $/atom:mol2/C20 $/atom:mol2/C22
$/improper:bytype279 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C20 $/atom:mol2/C18 $/atom:mol2/C19 $/atom:mol2/N25
$/improper:bytype280 @/improper:OPLSAA/X_X_048_X $/atom:mol2/N66 $/atom:mol2/C72 $/atom:mol2/C67 $/atom:mol2/C68
$/improper:bytype281 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C19 $/atom:mol3/C21 $/atom:mol3/C20 $/atom:mol3/C29
$/improper:bytype282 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C19 $/atom:mol3/C29 $/atom:mol3/C20 $/atom:mol3/C21
$/improper:bytype283 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C21 $/atom:mol3/C19 $/atom:mol3/C20 $/atom:mol3/C29
$/improper:bytype284 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C27 $/atom:mol3/C29 $/atom:mol3/C28 $/atom:mol3/C47
$/improper:bytype285 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C27 $/atom:mol3/C47 $/atom:mol3/C28 $/atom:mol3/C29
$/improper:bytype286 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C29 $/atom:mol3/C27 $/atom:mol3/C28 $/atom:mol3/C47
$/improper:bytype287 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C47 $/atom:mol3/C52 $/atom:mol3/C53 $/atom:mol3/C62
$/improper:bytype288 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C47 $/atom:mol3/C62 $/atom:mol3/C53 $/atom:mol3/C52
$/improper:bytype289 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C51 $/atom:mol3/C53 $/atom:mol3/C52 $/atom:mol3/C54
$/improper:bytype290 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C51 $/atom:mol3/C54 $/atom:mol3/C52 $/atom:mol3/C53
$/improper:bytype291 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C52 $/atom:mol3/C47 $/atom:mol3/C53 $/atom:mol3/C62
$/improper:bytype292 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C52 $/atom:mol3/C55 $/atom:mol3/C54 $/atom:mol3/C64
$/improper:bytype293 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C52 $/atom:mol3/C64 $/atom:mol3/C54 $/atom:mol3/C55
$/improper:bytype294 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C53 $/atom:mol3/C51 $/atom:mol3/C52 $/atom:mol3/C54
$/improper:bytype295 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C54 $/atom:mol3/C56 $/atom:mol3/C55 $/atom:mol3/C61
$/improper:bytype296 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C54 $/atom:mol3/C61 $/atom:mol3/C55 $/atom:mol3/C56
$/improper:bytype297 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C54 $/atom:mol3/C65 $/atom:mol3/C64 $/atom:mol3/C67
$/improper:bytype298 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C54 $/atom:mol3/C67 $/atom:mol3/C64 $/atom:mol3/C65
$/improper:bytype299 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C55 $/atom:mol3/C52 $/atom:mol3/C54 $/atom:mol3/C64
$/improper:bytype300 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C55 $/atom:mol3/C60 $/atom:mol3/C61 $/atom:mol3/C66
$/improper:bytype301 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C55 $/atom:mol3/C66 $/atom:mol3/C61 $/atom:mol3/C60
$/improper:bytype302 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C56 $/atom:mol3/C54 $/atom:mol3/C55 $/atom:mol3/C61
$/improper:bytype303 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C60 $/atom:mol3/C55 $/atom:mol3/C61 $/atom:mol3/C66
$/improper:bytype304 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C61 $/atom:mol3/C67 $/atom:mol3/C66 $/atom:mol3/C70
$/improper:bytype305 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C61 $/atom:mol3/C70 $/atom:mol3/C66 $/atom:mol3/C67
$/improper:bytype306 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C64 $/atom:mol3/C66 $/atom:mol3/C67 $/atom:mol3/C85
$/improper:bytype307 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C64 $/atom:mol3/C85 $/atom:mol3/C67 $/atom:mol3/C66
$/improper:bytype308 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C65 $/atom:mol3/C54 $/atom:mol3/C64 $/atom:mol3/C67
$/improper:bytype309 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C66 $/atom:mol3/C64 $/atom:mol3/C67 $/atom:mol3/C85
$/improper:bytype310 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C66 $/atom:mol3/C69 $/atom:mol3/C70 $/atom:mol3/C94
$/improper:bytype311 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C66 $/atom:mol3/C94 $/atom:mol3/C70 $/atom:mol3/C69
$/improper:bytype312 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C67 $/atom:mol3/C61 $/atom:mol3/C66 $/atom:mol3/C70
$/improper:bytype313 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C68 $/atom:mol3/C70 $/atom:mol3/C69 $/atom:mol3/C96
$/improper:bytype314 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C68 $/atom:mol3/C96 $/atom:mol3/C69 $/atom:mol3/C70
$/improper:bytype315 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C69 $/atom:mol3/C66 $/atom:mol3/C70 $/atom:mol3/C94
$/improper:bytype316 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C69 $/atom:mol3/C97 $/atom:mol3/C96 $/atom:mol3/C99
$/improper:bytype317 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C69 $/atom:mol3/C99 $/atom:mol3/C96 $/atom:mol3/C97
$/improper:bytype318 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C70 $/atom:mol3/C68 $/atom:mol3/C69 $/atom:mol3/C96
$/improper:bytype319 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C97 $/atom:mol3/C69 $/atom:mol3/C96 $/atom:mol3/C99
$/improper:bytype320 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C112 $/atom:mol3/C114 $/atom:mol3/C113 $/atom:mol3/C124
$/improper:bytype321 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C112 $/atom:mol3/C124 $/atom:mol3/C113 $/atom:mol3/C114
$/improper:bytype322 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C114 $/atom:mol3/C112 $/atom:mol3/C113 $/atom:mol3/C124
$/improper:bytype323 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C116 $/atom:mol3/C134 $/atom:mol3/C135 $/atom:mol3/C125
$/improper:bytype324 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C116 $/atom:mol3/C125 $/atom:mol3/C135 $/atom:mol3/C134
$/improper:bytype325 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C124 $/atom:mol3/C126 $/atom:mol3/C125 $/atom:mol3/C135
$/improper:bytype326 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C124 $/atom:mol3/C135 $/atom:mol3/C125 $/atom:mol3/C126
$/improper:bytype327 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C125 $/atom:mol3/C127 $/atom:mol3/C126 $/atom:mol3/C132
$/improper:bytype328 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C125 $/atom:mol3/C132 $/atom:mol3/C126 $/atom:mol3/C127
$/improper:bytype329 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C125 $/atom:mol3/C116 $/atom:mol3/C135 $/atom:mol3/C134
$/improper:bytype330 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C126 $/atom:mol3/C124 $/atom:mol3/C125 $/atom:mol3/C135
$/improper:bytype331 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C126 $/atom:mol3/C131 $/atom:mol3/C132 $/atom:mol3/C133
$/improper:bytype332 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C126 $/atom:mol3/C133 $/atom:mol3/C132 $/atom:mol3/C131
$/improper:bytype333 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C127 $/atom:mol3/C125 $/atom:mol3/C126 $/atom:mol3/C132
$/improper:bytype334 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C131 $/atom:mol3/C126 $/atom:mol3/C132 $/atom:mol3/C133
$/improper:bytype335 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C132 $/atom:mol3/C134 $/atom:mol3/C133 $/atom:mol3/C136
$/improper:bytype336 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C132 $/atom:mol3/C136 $/atom:mol3/C133 $/atom:mol3/C134
$/improper:bytype337 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C133 $/atom:mol3/C135 $/atom:mol3/C134 $/atom:mol3/C140
$/improper:bytype338 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C133 $/atom:mol3/C140 $/atom:mol3/C134 $/atom:mol3/C135
$/improper:bytype339 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C134 $/atom:mol3/C132 $/atom:mol3/C133 $/atom:mol3/C136
$/improper:bytype340 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C135 $/atom:mol3/C133 $/atom:mol3/C134 $/atom:mol3/C140
$/improper:bytype341 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C3 $/atom:mol2/C5 $/atom:mol2/C4 $/atom:mol2/C6
$/improper:bytype342 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C2 $/atom:mol1/C4 $/atom:mol1/C3 $/atom:mol1/C10
$/improper:bytype343 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C5 $/atom:mol1/C3 $/atom:mol1/C4 $/atom:mol1/C7
$/improper:bytype344 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C10 $/atom:mol1/C8 $/atom:mol1/C9 $/atom:mol1/C11
$/improper:bytype345 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C14 $/atom:mol1/H74 $/atom:mol1/C15 $/atom:mol1/C16
$/improper:bytype346 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C7 $/atom:mol2/H137 $/atom:mol2/C13 $/atom:mol2/C12
$/improper:bytype347 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C8 $/atom:mol2/H136 $/atom:mol2/C10 $/atom:mol2/C11
$/improper:bytype348 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C11 $/atom:mol2/H139 $/atom:mol2/C17 $/atom:mol2/C16
$/improper:bytype349 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C12 $/atom:mol2/H138 $/atom:mol2/C14 $/atom:mol2/C15
$/improper:bytype350 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C16 $/atom:mol2/H188 $/atom:mol2/C18 $/atom:mol2/C19
$/improper:bytype351 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C27 $/atom:mol3/H190 $/atom:mol3/C63 $/atom:mol3/C62
$/improper:bytype352 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C51 $/atom:mol3/H189 $/atom:mol3/C57 $/atom:mol3/C56
$/improper:bytype353 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C85 $/atom:mol3/H217 $/atom:mol3/C95 $/atom:mol3/C94
$/improper:bytype354 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C94 $/atom:mol3/H218 $/atom:mol3/C98 $/atom:mol3/C97
$/improper:bytype355 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C33 $/atom:mol2/C40 $/atom:mol2/C34 $/atom:mol2/C35
$/improper:bytype356 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C4 $/atom:mol2/O85 $/atom:mol2/C6 $/atom:mol2/C7
$/improper:bytype357 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C94 $/atom:mol2/O112 $/atom:mol2/C95 $/atom:mol2/C96
$/improper:bytype358 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C93 $/atom:mol2/O111 $/atom:mol2/C98 $/atom:mol2/C97
$/improper:bytype359 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C106 $/atom:mol3/C104 $/atom:mol3/C107 $/atom:mol3/C112
$/improper:bytype360 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C104 $/atom:mol3/C112 $/atom:mol3/C107 $/atom:mol3/C106
$/improper:bytype361 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C63 $/atom:mol2/N66 $/atom:mol2/C65 $/atom:mol2/H163
$/improper:bytype362 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C80 $/atom:mol2/C78 $/atom:mol2/C79 $/atom:mol2/C84
$/improper:bytype363 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C58 $/atom:mol3/C60 $/atom:mol3/C59 $/atom:mol3/O71
$/improper:bytype364 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C83 $/atom:mol3/C85 $/atom:mol3/C84 $/atom:mol3/O86
$/improper:bytype365 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C84 $/atom:mol3/C65 $/atom:mol3/C83 $/atom:mol3/O89
$/improper:bytype366 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C3 $/atom:mol2/C6 $/atom:mol2/C4 $/atom:mol2/C5
$/improper:bytype367 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C3 $/atom:mol1/C7 $/atom:mol1/C4 $/atom:mol1/C5
$/improper:bytype368 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C2 $/atom:mol1/C10 $/atom:mol1/C3 $/atom:mol1/C4
$/improper:bytype369 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C8 $/atom:mol1/C10 $/atom:mol1/C9 $/atom:mol1/C11
$/improper:bytype370 @/improper:OPLSAA/X_X_048_X $/atom:mol2/N66 $/atom:mol2/C63 $/atom:mol2/C65 $/atom:mol2/H163
$/improper:bytype371 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C3 $/atom:mol1/C1 $/atom:mol1/C2 $/atom:mol1/C58
$/improper:bytype372 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C4 $/atom:mol1/C6 $/atom:mol1/C5 $/atom:mol1/C57
$/improper:bytype373 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C9 $/atom:mol1/C12 $/atom:mol1/C11 $/atom:mol1/C59
$/improper:bytype374 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C13 $/atom:mol1/C11 $/atom:mol1/C12 $/atom:mol1/C60
$/improper:bytype375 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C93 $/atom:mol2/C40 $/atom:mol2/C94 $/atom:mol2/C95
$/improper:bytype376 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C94 $/atom:mol2/C37 $/atom:mol2/C93 $/atom:mol2/C98
$/improper:bytype377 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C27 $/atom:mol1/C29 $/atom:mol1/C28 $/atom:mol1/C34
$/improper:bytype378 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C30 $/atom:mol1/C28 $/atom:mol1/C29 $/atom:mol1/C31
$/improper:bytype379 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C95 $/atom:mol2/C97 $/atom:mol2/C96 $/atom:mol2/C102
$/improper:bytype380 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C98 $/atom:mol2/C96 $/atom:mol2/C97 $/atom:mol2/C99
$/improper:bytype381 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C4 $/atom:mol2/C7 $/atom:mol2/C6 $/atom:mol2/O85
$/improper:bytype382 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C93 $/atom:mol2/C97 $/atom:mol2/C98 $/atom:mol2/O111
$/improper:bytype383 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C94 $/atom:mol2/C96 $/atom:mol2/C95 $/atom:mol2/O112
$/improper:bytype384 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C49 $/atom:mol1/H94 $/atom:mol1/C50 $/atom:mol1/C51
$/improper:bytype385 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C50 $/atom:mol1/H95 $/atom:mol1/C51 $/atom:mol1/C52
$/improper:bytype386 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C43 $/atom:mol2/H154 $/atom:mol2/C50 $/atom:mol2/C51
$/improper:bytype387 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C69 $/atom:mol2/H165 $/atom:mol2/C70 $/atom:mol2/C71
$/improper:bytype388 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C32 $/atom:mol3/H187 $/atom:mol3/C46 $/atom:mol3/C45
$/improper:bytype389 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C121 $/atom:mol3/H238 $/atom:mol3/C122 $/atom:mol3/C123
$/improper:bytype390 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C1 $/atom:mol1/C54 $/atom:mol1/C6 $/atom:mol1/C5
$/improper:bytype391 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C37 $/atom:mol1/C43 $/atom:mol1/C42 $/atom:mol1/C41
$/improper:bytype392 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C38 $/atom:mol1/C36 $/atom:mol1/C37 $/atom:mol1/C42
$/improper:bytype393 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C49 $/atom:mol1/C47 $/atom:mol1/C48 $/atom:mol1/C53
$/improper:bytype394 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C4 $/atom:mol2/C2 $/atom:mol2/C3 $/atom:mol2/C9
$/improper:bytype395 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C22 $/atom:mol2/C28 $/atom:mol2/C23 $/atom:mol2/C24
$/improper:bytype396 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C26 $/atom:mol2/C28 $/atom:mol2/C27 $/atom:mol2/C29
$/improper:bytype397 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C44 $/atom:mol2/C47 $/atom:mol2/C46 $/atom:mol2/C52
$/improper:bytype398 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C46 $/atom:mol2/C53 $/atom:mol2/C52 $/atom:mol2/C51
$/improper:bytype399 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C50 $/atom:mol2/C56 $/atom:mol2/C51 $/atom:mol2/C52
$/improper:bytype400 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C54 $/atom:mol2/C56 $/atom:mol2/C55 $/atom:mol2/C57
$/improper:bytype401 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C54 $/atom:mol2/C61 $/atom:mol2/C60 $/atom:mol2/C59
$/improper:bytype402 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C55 $/atom:mol2/C53 $/atom:mol2/C54 $/atom:mol2/C60
$/improper:bytype403 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C55 $/atom:mol2/C76 $/atom:mol2/C57 $/atom:mol2/C58
$/improper:bytype404 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C57 $/atom:mol2/C73 $/atom:mol2/C58 $/atom:mol2/C59
$/improper:bytype405 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C58 $/atom:mol2/C64 $/atom:mol2/C59 $/atom:mol2/C60
$/improper:bytype406 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C62 $/atom:mol2/C64 $/atom:mol2/C63 $/atom:mol2/C65
$/improper:bytype407 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C74 $/atom:mol2/C76 $/atom:mol2/C75 $/atom:mol2/C77
$/improper:bytype408 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C74 $/atom:mol2/C81 $/atom:mol2/C80 $/atom:mol2/C79
$/improper:bytype409 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C75 $/atom:mol2/C73 $/atom:mol2/C74 $/atom:mol2/C80
$/improper:bytype410 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C122 $/atom:mol3/C124 $/atom:mol3/C123 $/atom:mol3/C128
$/improper:bytype411 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C77 $/atom:mol2/O90 $/atom:mol2/C78 $/atom:mol2/C79
$/improper:bytype412 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C31 $/atom:mol1/C38 $/atom:mol1/C32 $/atom:mol1/C33
$/improper:bytype413 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C31 $/atom:mol1/C33 $/atom:mol1/C32 $/atom:mol1/C38
$/improper:bytype414 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C63 $/atom:mol2/H163 $/atom:mol2/C65 $/atom:mol2/N66
$/improper:bytype415 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C40 $/atom:mol1/C42 $/atom:mol1/C41 $/atom:mol1/C46
$/improper:bytype416 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C42 $/atom:mol1/C40 $/atom:mol1/C41 $/atom:mol1/C46
$/improper:bytype417 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C34 $/atom:mol2/C36 $/atom:mol2/C35 $/atom:mol2/C37
$/improper:bytype418 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C36 $/atom:mol2/C34 $/atom:mol2/C35 $/atom:mol2/C37
$/improper:bytype419 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C17 $/atom:mol1/C26 $/atom:mol1/C19 $/atom:mol1/C20
$/improper:bytype420 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C19 $/atom:mol1/C23 $/atom:mol1/C20 $/atom:mol1/C21
$/improper:bytype421 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C63 $/atom:mol2/C61 $/atom:mol2/C62 $/atom:mol2/C68
$/improper:bytype422 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C16 $/atom:mol3/C23 $/atom:mol3/C22 $/atom:mol3/C21
$/improper:bytype423 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C140 $/atom:mol3/C143 $/atom:mol3/C142 $/atom:mol3/C141
$/improper:bytype424 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C104 $/atom:mol3/O102 $/atom:mol3/C103 $/atom:mol3/C114
$/improper:bytype425 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C19 $/atom:mol1/C21 $/atom:mol1/C20 $/atom:mol1/C23
$/improper:bytype426 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C20 $/atom:mol1/C17 $/atom:mol1/C19 $/atom:mol1/C26
$/improper:bytype427 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C61 $/atom:mol2/C68 $/atom:mol2/C62 $/atom:mol2/C63
$/improper:bytype428 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C16 $/atom:mol3/C21 $/atom:mol3/C22 $/atom:mol3/C23
$/improper:bytype429 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C141 $/atom:mol3/C140 $/atom:mol3/C142 $/atom:mol3/C143
$/improper:bytype430 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C29 $/atom:mol3/S49 $/atom:mol3/C45 $/atom:mol3/C46
$/improper:bytype431 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C47 $/atom:mol3/S49 $/atom:mol3/C48 $/atom:mol3/C50
$/improper:bytype432 @/improper:OPLSAA/X_X_048_X $/atom:mol3/O26 $/atom:mol3/C63 $/atom:mol3/C27 $/atom:mol3/C28
$/improper:bytype433 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C20 $/atom:mol3/C22 $/atom:mol3/C21 $/atom:mol3/O26
$/improper:bytype434 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C96 $/atom:mol3/C98 $/atom:mol3/C97 $/atom:mol3/O102
$/improper:bytype435 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C16 $/atom:mol3/C18 $/atom:mol3/C17 $/atom:mol3/C19
$/improper:bytype436 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C19 $/atom:mol3/C31 $/atom:mol3/C32 $/atom:mol3/C46
$/improper:bytype437 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C99 $/atom:mol3/C105 $/atom:mol3/C100 $/atom:mol3/C101
$/improper:bytype438 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C116 $/atom:mol3/C108 $/atom:mol3/C115 $/atom:mol3/C139
$/improper:bytype439 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C3 $/atom:mol2/H135 $/atom:mol2/C9 $/atom:mol2/C8
$/improper:bytype440 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C20 $/atom:mol2/H140 $/atom:mol2/C22 $/atom:mol2/C23
$/improper:bytype441 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C27 $/atom:mol2/H143 $/atom:mol2/C29 $/atom:mol2/C30
$/improper:bytype442 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C30 $/atom:mol2/H146 $/atom:mol2/C36 $/atom:mol2/C35
$/improper:bytype443 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C26 $/atom:mol2/H144 $/atom:mol2/C32 $/atom:mol2/C31
$/improper:bytype444 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C31 $/atom:mol2/H145 $/atom:mol2/C33 $/atom:mol2/C34
$/improper:bytype445 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C67 $/atom:mol2/H166 $/atom:mol2/C72 $/atom:mol2/C71
$/improper:bytype446 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C68 $/atom:mol2/H164 $/atom:mol2/C69 $/atom:mol2/C70
$/improper:bytype447 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C48 $/atom:mol3/H188 $/atom:mol3/C50 $/atom:mol3/C51
$/improper:bytype448 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C68 $/atom:mol3/H219 $/atom:mol3/C101 $/atom:mol3/C100
$/improper:bytype449 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C114 $/atom:mol3/H237 $/atom:mol3/C121 $/atom:mol3/C122
$/improper:bytype450 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C123 $/atom:mol3/H239 $/atom:mol3/C128 $/atom:mol3/C127
$/improper:bytype451 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C127 $/atom:mol3/H240 $/atom:mol3/C129 $/atom:mol3/C130
$/improper:bytype452 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C129 $/atom:mol3/H241 $/atom:mol3/C130 $/atom:mol3/C131
$/improper:bytype453 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C131 $/atom:mol3/H243 $/atom:mol3/C138 $/atom:mol3/C137
$/improper:bytype454 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C136 $/atom:mol3/H242 $/atom:mol3/C137 $/atom:mol3/C138
$/improper:bytype455 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C115 $/atom:mol3/H244 $/atom:mol3/C139 $/atom:mol3/C140
$/improper:bytype456 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C32 $/atom:mol1/C35 $/atom:mol1/C33 $/atom:mol1/C34
$/improper:bytype457 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C100 $/atom:mol2/C103 $/atom:mol2/C101 $/atom:mol2/C102
$/improper:bytype458 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C99 $/atom:mol2/C106 $/atom:mol2/C100 $/atom:mol2/C101
$/improper:bytype459 @/improper:OPLSAA/X_X_048_X $/atom:mol3/S49 $/atom:mol3/C47 $/atom:mol3/C48 $/atom:mol3/C50
$/improper:bytype460 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C46 $/atom:mol3/C29 $/atom:mol3/C45 $/atom:mol3/S49
$/improper:bytype461 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C40 $/atom:mol1/C46 $/atom:mol1/C41 $/atom:mol1/C42
$/improper:bytype462 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C34 $/atom:mol2/C37 $/atom:mol2/C35 $/atom:mol2/C36
$/improper:bytype463 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C78 $/atom:mol2/C80 $/atom:mol2/C79 $/atom:mol2/C84
$/improper:bytype464 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C13 $/atom:mol1/C17 $/atom:mol1/C18 $/atom:mol1/O61
$/improper:bytype465 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C17 $/atom:mol1/C13 $/atom:mol1/C18 $/atom:mol1/O61
$/improper:bytype466 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C21 $/atom:mol1/C29 $/atom:mol1/C30 $/atom:mol1/O64
$/improper:bytype467 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C29 $/atom:mol1/C21 $/atom:mol1/C30 $/atom:mol1/O64
$/improper:bytype468 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C22 $/atom:mol1/C28 $/atom:mol1/C27 $/atom:mol1/O65
$/improper:bytype469 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C28 $/atom:mol1/C22 $/atom:mol1/C27 $/atom:mol1/O65
$/improper:bytype470 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C15 $/atom:mol2/C20 $/atom:mol2/C21 $/atom:mol2/O86
$/improper:bytype471 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C20 $/atom:mol2/C15 $/atom:mol2/C21 $/atom:mol2/O86
$/improper:bytype472 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C49 $/atom:mol1/C51 $/atom:mol1/C50 $/atom:mol1/H94
$/improper:bytype473 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C51 $/atom:mol1/C49 $/atom:mol1/C50 $/atom:mol1/H94
$/improper:bytype474 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C52 $/atom:mol1/C50 $/atom:mol1/C51 $/atom:mol1/H95
$/improper:bytype475 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C50 $/atom:mol1/C52 $/atom:mol1/C51 $/atom:mol1/H95
$/improper:bytype476 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C43 $/atom:mol2/C51 $/atom:mol2/C50 $/atom:mol2/H154
$/improper:bytype477 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C51 $/atom:mol2/C43 $/atom:mol2/C50 $/atom:mol2/H154
$/improper:bytype478 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C71 $/atom:mol2/C69 $/atom:mol2/C70 $/atom:mol2/H165
$/improper:bytype479 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C69 $/atom:mol2/C71 $/atom:mol2/C70 $/atom:mol2/H165
$/improper:bytype480 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C32 $/atom:mol3/C45 $/atom:mol3/C46 $/atom:mol3/H187
$/improper:bytype481 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C45 $/atom:mol3/C32 $/atom:mol3/C46 $/atom:mol3/H187
$/improper:bytype482 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C123 $/atom:mol3/C121 $/atom:mol3/C122 $/atom:mol3/H238
$/improper:bytype483 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C121 $/atom:mol3/C123 $/atom:mol3/C122 $/atom:mol3/H238
$/improper:bytype484 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C136 $/atom:mol3/C142 $/atom:mol3/C141 $/atom:mol3/C146
$/improper:bytype485 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C32 $/atom:mol1/C34 $/atom:mol1/C33 $/atom:mol1/C35
$/improper:bytype486 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C100 $/atom:mol2/C102 $/atom:mol2/C101 $/atom:mol2/C103
$/improper:bytype487 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C101 $/atom:mol2/C99 $/atom:mol2/C100 $/atom:mol2/C106
$/improper:bytype488 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C43 $/atom:mol2/C46 $/atom:mol2/C44 $/atom:mol2/C45
$/improper:bytype489 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C45 $/atom:mol2/C43 $/atom:mol2/C44 $/atom:mol2/C46
$/improper:bytype490 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C15 $/atom:mol3/C22 $/atom:mol3/C16 $/atom:mol3/C17
$/improper:bytype491 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C15 $/atom:mol3/C17 $/atom:mol3/C16 $/atom:mol3/C22
$/improper:bytype492 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C142 $/atom:mol3/C136 $/atom:mol3/C141 $/atom:mol3/C146
$/improper:bytype493 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C79 $/atom:mol2/C77 $/atom:mol2/C78 $/atom:mol2/O90
$/improper:bytype494 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C77 $/atom:mol2/C79 $/atom:mol2/C78 $/atom:mol2/O90
$/improper:bytype495 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C37 $/atom:mol2/C94 $/atom:mol2/C93 $/atom:mol2/C98
$/improper:bytype496 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C28 $/atom:mol1/C31 $/atom:mol1/C29 $/atom:mol1/C30
$/improper:bytype497 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C27 $/atom:mol1/C34 $/atom:mol1/C28 $/atom:mol1/C29
$/improper:bytype498 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C96 $/atom:mol2/C99 $/atom:mol2/C97 $/atom:mol2/C98
$/improper:bytype499 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C95 $/atom:mol2/C102 $/atom:mol2/C96 $/atom:mol2/C97
$/improper:bytype500 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C9 $/atom:mol1/C7 $/atom:mol1/C8 $/atom:mol1/C14
$/improper:bytype501 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C1 $/atom:mol1/C58 $/atom:mol1/C2 $/atom:mol1/C3
$/improper:bytype502 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C4 $/atom:mol1/C57 $/atom:mol1/C5 $/atom:mol1/C6
$/improper:bytype503 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C11 $/atom:mol1/C60 $/atom:mol1/C12 $/atom:mol1/C13
$/improper:bytype504 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C9 $/atom:mol1/C59 $/atom:mol1/C11 $/atom:mol1/C12
$/improper:bytype505 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C18 $/atom:mol3/C16 $/atom:mol3/C17 $/atom:mol3/C19
$/improper:bytype506 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C19 $/atom:mol3/C46 $/atom:mol3/C32 $/atom:mol3/C31
$/improper:bytype507 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C99 $/atom:mol3/C101 $/atom:mol3/C100 $/atom:mol3/C105
$/improper:bytype508 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C108 $/atom:mol3/C139 $/atom:mol3/C115 $/atom:mol3/C116
$/improper:bytype509 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C104 $/atom:mol3/C106 $/atom:mol3/C107 $/atom:mol3/C112
$/improper:bytype510 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C17 $/atom:mol1/C20 $/atom:mol1/C19 $/atom:mol1/C26
$/improper:bytype511 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C21 $/atom:mol1/C19 $/atom:mol1/C20 $/atom:mol1/C23
$/improper:bytype512 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C61 $/atom:mol2/C63 $/atom:mol2/C62 $/atom:mol2/C68
$/improper:bytype513 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C21 $/atom:mol3/C16 $/atom:mol3/C22 $/atom:mol3/C23
$/improper:bytype514 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C140 $/atom:mol3/C141 $/atom:mol3/C142 $/atom:mol3/C143
$/improper:bytype515 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C75 $/atom:mol2/H171 $/atom:mol2/C77 $/atom:mol2/C78
$/improper:bytype516 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C28 $/atom:mol1/C30 $/atom:mol1/C29 $/atom:mol1/C31
$/improper:bytype517 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C29 $/atom:mol1/C27 $/atom:mol1/C28 $/atom:mol1/C34
$/improper:bytype518 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C96 $/atom:mol2/C98 $/atom:mol2/C97 $/atom:mol2/C99
$/improper:bytype519 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C97 $/atom:mol2/C95 $/atom:mol2/C96 $/atom:mol2/C102
$/improper:bytype520 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C20 $/atom:mol3/O26 $/atom:mol3/C21 $/atom:mol3/C22
$/improper:bytype521 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C28 $/atom:mol3/O26 $/atom:mol3/C27 $/atom:mol3/C63
$/improper:bytype522 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C96 $/atom:mol3/O102 $/atom:mol3/C97 $/atom:mol3/C98
$/improper:bytype523 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C16 $/atom:mol1/C27 $/atom:mol1/C22 $/atom:mol1/C21
$/improper:bytype524 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C7 $/atom:mol2/C9 $/atom:mol2/C8 $/atom:mol2/C10
$/improper:bytype525 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C7 $/atom:mol2/C10 $/atom:mol2/C8 $/atom:mol2/C9
$/improper:bytype526 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C11 $/atom:mol2/C13 $/atom:mol2/C12 $/atom:mol2/C14
$/improper:bytype527 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C11 $/atom:mol2/C14 $/atom:mol2/C12 $/atom:mol2/C13
$/improper:bytype528 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C12 $/atom:mol2/C10 $/atom:mol2/C11 $/atom:mol2/C17
$/improper:bytype529 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C10 $/atom:mol2/C17 $/atom:mol2/C11 $/atom:mol2/C12
$/improper:bytype530 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C15 $/atom:mol2/C17 $/atom:mol2/C16 $/atom:mol2/C18
$/improper:bytype531 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C15 $/atom:mol2/C18 $/atom:mol2/C16 $/atom:mol2/C17
$/improper:bytype532 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C30 $/atom:mol2/C32 $/atom:mol2/C31 $/atom:mol2/C33
$/improper:bytype533 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C30 $/atom:mol2/C33 $/atom:mol2/C31 $/atom:mol2/C32
$/improper:bytype534 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C31 $/atom:mol2/C29 $/atom:mol2/C30 $/atom:mol2/C36
$/improper:bytype535 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C29 $/atom:mol2/C36 $/atom:mol2/C30 $/atom:mol2/C31
$/improper:bytype536 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C67 $/atom:mol2/C62 $/atom:mol2/C68 $/atom:mol2/C69
$/improper:bytype537 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C62 $/atom:mol2/C69 $/atom:mol2/C68 $/atom:mol2/C67
$/improper:bytype538 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C20 $/atom:mol3/C17 $/atom:mol3/C19 $/atom:mol3/C32
$/improper:bytype539 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C17 $/atom:mol3/C32 $/atom:mol3/C19 $/atom:mol3/C20
$/improper:bytype540 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C52 $/atom:mol3/C50 $/atom:mol3/C51 $/atom:mol3/C57
$/improper:bytype541 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C50 $/atom:mol3/C57 $/atom:mol3/C51 $/atom:mol3/C52
$/improper:bytype542 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C55 $/atom:mol3/C57 $/atom:mol3/C56 $/atom:mol3/C58
$/improper:bytype543 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C55 $/atom:mol3/C58 $/atom:mol3/C56 $/atom:mol3/C57
$/improper:bytype544 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C67 $/atom:mol3/C84 $/atom:mol3/C85 $/atom:mol3/C95
$/improper:bytype545 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C67 $/atom:mol3/C95 $/atom:mol3/C85 $/atom:mol3/C84
$/improper:bytype546 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C70 $/atom:mol3/C95 $/atom:mol3/C94 $/atom:mol3/C98
$/improper:bytype547 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C70 $/atom:mol3/C98 $/atom:mol3/C94 $/atom:mol3/C95
$/improper:bytype548 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C126 $/atom:mol3/C128 $/atom:mol3/C127 $/atom:mol3/C129
$/improper:bytype549 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C126 $/atom:mol3/C129 $/atom:mol3/C127 $/atom:mol3/C128
$/improper:bytype550 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C132 $/atom:mol3/C130 $/atom:mol3/C131 $/atom:mol3/C138
$/improper:bytype551 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C130 $/atom:mol3/C138 $/atom:mol3/C131 $/atom:mol3/C132
$/improper:bytype552 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C133 $/atom:mol3/C137 $/atom:mol3/C136 $/atom:mol3/C141
$/improper:bytype553 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C133 $/atom:mol3/C141 $/atom:mol3/C136 $/atom:mol3/C137
$/improper:bytype554 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C134 $/atom:mol3/C139 $/atom:mol3/C140 $/atom:mol3/C142
$/improper:bytype555 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C134 $/atom:mol3/C142 $/atom:mol3/C140 $/atom:mol3/C139
$/improper:bytype556 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C40 $/atom:mol2/C95 $/atom:mol2/C94 $/atom:mol2/C93
$/improper:bytype557 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C2 $/atom:mol1/C6 $/atom:mol1/C1 $/atom:mol1/C56
$/improper:bytype558 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C6 $/atom:mol1/C2 $/atom:mol1/C1 $/atom:mol1/C56
$/improper:bytype559 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C48 $/atom:mol1/C52 $/atom:mol1/C53 $/atom:mol1/C68
$/improper:bytype560 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C51 $/atom:mol1/C53 $/atom:mol1/C52 $/atom:mol1/C69
$/improper:bytype561 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C52 $/atom:mol1/C48 $/atom:mol1/C53 $/atom:mol1/C68
$/improper:bytype562 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C53 $/atom:mol1/C51 $/atom:mol1/C52 $/atom:mol1/C69
$/improper:bytype563 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C70 $/atom:mol2/C72 $/atom:mol2/C71 $/atom:mol2/C92
$/improper:bytype564 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C72 $/atom:mol2/C70 $/atom:mol2/C71 $/atom:mol2/C92
$/improper:bytype565 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C16 $/atom:mol1/C19 $/atom:mol1/C17 $/atom:mol1/C18
$/improper:bytype566 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C14 $/atom:mol1/C12 $/atom:mol1/C13 $/atom:mol1/C18
$/improper:bytype567 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C22 $/atom:mol1/C20 $/atom:mol1/C21 $/atom:mol1/C30
$/improper:bytype568 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C6 $/atom:mol2/C13 $/atom:mol2/C7 $/atom:mol2/C8
$/improper:bytype569 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C19 $/atom:mol2/C22 $/atom:mol2/C20 $/atom:mol2/C21
$/improper:bytype570 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C16 $/atom:mol2/C14 $/atom:mol2/C15 $/atom:mol2/C21
$/improper:bytype571 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C58 $/atom:mol3/O71 $/atom:mol3/C59 $/atom:mol3/C60
$/improper:bytype572 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C65 $/atom:mol3/O89 $/atom:mol3/C83 $/atom:mol3/C84
$/improper:bytype573 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C83 $/atom:mol3/O86 $/atom:mol3/C84 $/atom:mol3/C85
$/improper:bytype574 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C56 $/atom:mol3/C74 $/atom:mol3/C58 $/atom:mol3/C59
$/improper:bytype575 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C43 $/atom:mol2/C45 $/atom:mol2/C44 $/atom:mol2/C46
$/improper:bytype576 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C17 $/atom:mol3/C15 $/atom:mol3/C16 $/atom:mol3/C22
$/improper:bytype577 @/improper:OPLSAA/X_X_048_X $/atom:mol3/O102 $/atom:mol3/C104 $/atom:mol3/C103 $/atom:mol3/C114
$/improper:bytype578 @/improper:OPLSAA/X_X_048_X $/atom:mol3/O102 $/atom:mol3/C114 $/atom:mol3/C103 $/atom:mol3/C104
$/improper:bytype579 @/improper:OPLSAA/X_X_048_X $/atom:mol3/C59 $/atom:mol3/C56 $/atom:mol3/C58 $/atom:mol3/C74
$/improper:bytype580 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C32 $/atom:mol1/C37 $/atom:mol1/C38 $/atom:mol1/N39
$/improper:bytype581 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C37 $/atom:mol1/C32 $/atom:mol1/C38 $/atom:mol1/N39
$/improper:bytype582 @/improper:OPLSAA/X_X_048_X $/atom:mol1/N39 $/atom:mol1/C49 $/atom:mol1/C40 $/atom:mol1/C41
$/improper:bytype583 @/improper:OPLSAA/X_X_048_X $/atom:mol1/N39 $/atom:mol1/C41 $/atom:mol1/C40 $/atom:mol1/C49
$/improper:bytype584 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C23 $/atom:mol2/C26 $/atom:mol2/C24 $/atom:mol2/N25
$/improper:bytype585 @/improper:OPLSAA/X_X_048_X $/atom:mol2/N25 $/atom:mol2/C23 $/atom:mol2/C24 $/atom:mol2/C26
$/improper:bytype586 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C2 $/atom:mol1/C56 $/atom:mol1/C1 $/atom:mol1/C6
$/improper:bytype587 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C48 $/atom:mol1/C68 $/atom:mol1/C53 $/atom:mol1/C52
$/improper:bytype588 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C51 $/atom:mol1/C69 $/atom:mol1/C52 $/atom:mol1/C53
$/improper:bytype589 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C70 $/atom:mol2/C92 $/atom:mol2/C71 $/atom:mol2/C72
$/improper:bytype590 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C13 $/atom:mol1/O61 $/atom:mol1/C18 $/atom:mol1/C17
$/improper:bytype591 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C21 $/atom:mol1/O64 $/atom:mol1/C30 $/atom:mol1/C29
$/improper:bytype592 @/improper:OPLSAA/X_X_048_X $/atom:mol1/C22 $/atom:mol1/O65 $/atom:mol1/C27 $/atom:mol1/C28
$/improper:bytype593 @/improper:OPLSAA/X_X_048_X $/atom:mol2/C15 $/atom:mol2/O86 $/atom:mol2/C21 $/atom:mol2/C20
