$/bond:mol1/b1 @/bond:OPLSAA/048_048 $/atom:mol1/C3 $/atom:mol1/C2
$/bond:mol1/b2 @/bond:OPLSAA/048_048 $/atom:mol1/C4 $/atom:mol1/C3
$/bond:mol1/b3 @/bond:OPLSAA/048_048 $/atom:mol1/C5 $/atom:mol1/C4
$/bond:mol1/b4 @/bond:OPLSAA/048_048 $/atom:mol1/C6 $/atom:mol1/C5
$/bond:mol1/b5 @/bond:OPLSAA/048_048 $/atom:mol1/C1 $/atom:mol1/C2
$/bond:mol1/b6 @/bond:OPLSAA/048_048 $/atom:mol1/C1 $/atom:mol1/C6
$/bond:mol1/b7 @/bond:OPLSAA/013_048 $/atom:mol1/C8 $/atom:mol1/C7
$/bond:mol1/b8 @/bond:OPLSAA/048_048 $/atom:mol1/C9 $/atom:mol1/C8
$/bond:mol1/b9 @/bond:OPLSAA/013_048 $/atom:mol1/C10 $/atom:mol1/C9
$/bond:mol1/b10 @/bond:OPLSAA/013_048 $/atom:mol1/C4 $/atom:mol1/C7
$/bond:mol1/b11 @/bond:OPLSAA/013_048 $/atom:mol1/C3 $/atom:mol1/C10
$/bond:mol1/b12 @/bond:OPLSAA/048_048 $/atom:mol1/C12 $/atom:mol1/C11
$/bond:mol1/b13 @/bond:OPLSAA/048_048 $/atom:mol1/C13 $/atom:mol1/C12
$/bond:mol1/b14 @/bond:OPLSAA/048_048 $/atom:mol1/C14 $/atom:mol1/C13
$/bond:mol1/b15 @/bond:OPLSAA/048_048 $/atom:mol1/C9 $/atom:mol1/C11
$/bond:mol1/b16 @/bond:OPLSAA/048_048 $/atom:mol1/C8 $/atom:mol1/C14
$/bond:mol1/b17 @/bond:OPLSAA/048_048 $/atom:mol1/C16 $/atom:mol1/C15
$/bond:mol1/b18 @/bond:OPLSAA/048_048 $/atom:mol1/C17 $/atom:mol1/C16
$/bond:mol1/b19 @/bond:OPLSAA/048_048 $/atom:mol1/C18 $/atom:mol1/C17
$/bond:mol1/b20 @/bond:OPLSAA/048_048 $/atom:mol1/C14 $/atom:mol1/C15
$/bond:mol1/b21 @/bond:OPLSAA/048_048 $/atom:mol1/C13 $/atom:mol1/C18
$/bond:mol1/b22 @/bond:OPLSAA/048_048 $/atom:mol1/C20 $/atom:mol1/C19
$/bond:mol1/b23 @/bond:OPLSAA/048_048 $/atom:mol1/C21 $/atom:mol1/C20
$/bond:mol1/b24 @/bond:OPLSAA/048_048 $/atom:mol1/C22 $/atom:mol1/C21
$/bond:mol1/b25 @/bond:OPLSAA/048_048 $/atom:mol1/C17 $/atom:mol1/C19
$/bond:mol1/b26 @/bond:OPLSAA/048_048 $/atom:mol1/C16 $/atom:mol1/C22
$/bond:mol1/b27 @/bond:OPLSAA/013_013 $/atom:mol1/C24 $/atom:mol1/C23
$/bond:mol1/b28 @/bond:OPLSAA/013_013 $/atom:mol1/C25 $/atom:mol1/C24
$/bond:mol1/b29 @/bond:OPLSAA/013_013 $/atom:mol1/C26 $/atom:mol1/C25
$/bond:mol1/b30 @/bond:OPLSAA/013_048 $/atom:mol1/C20 $/atom:mol1/C23
$/bond:mol1/b31 @/bond:OPLSAA/013_048 $/atom:mol1/C19 $/atom:mol1/C26
$/bond:mol1/b32 @/bond:OPLSAA/048_048 $/atom:mol1/C28 $/atom:mol1/C27
$/bond:mol1/b33 @/bond:OPLSAA/048_048 $/atom:mol1/C29 $/atom:mol1/C28
$/bond:mol1/b34 @/bond:OPLSAA/048_048 $/atom:mol1/C30 $/atom:mol1/C29
$/bond:mol1/b35 @/bond:OPLSAA/048_048 $/atom:mol1/C22 $/atom:mol1/C27
$/bond:mol1/b36 @/bond:OPLSAA/048_048 $/atom:mol1/C21 $/atom:mol1/C30
$/bond:mol1/b37 @/bond:OPLSAA/003_048 $/atom:mol1/C32 $/atom:mol1/C31
$/bond:mol1/b38 @/bond:OPLSAA/048_048 $/atom:mol1/C33 $/atom:mol1/C32
$/bond:mol1/b39 @/bond:OPLSAA/003_048 $/atom:mol1/C34 $/atom:mol1/C33
$/bond:mol1/b40 @/bond:OPLSAA/003_048 $/atom:mol1/C29 $/atom:mol1/C31
$/bond:mol1/b41 @/bond:OPLSAA/003_048 $/atom:mol1/C28 $/atom:mol1/C34
$/bond:mol1/b42 @/bond:OPLSAA/013_013 $/atom:mol1/C36 $/atom:mol1/C35
$/bond:mol1/b43 @/bond:OPLSAA/013_048 $/atom:mol1/C37 $/atom:mol1/C36
$/bond:mol1/b44 @/bond:OPLSAA/048_048 $/atom:mol1/C38 $/atom:mol1/C37
$/bond:mol1/b45 @/bond:OPLSAA/013_048 $/atom:mol1/C33 $/atom:mol1/C35
$/bond:mol1/b46 @/bond:OPLSAA/048_048 $/atom:mol1/C32 $/atom:mol1/C38
$/bond:mol1/b47 @/bond:OPLSAA/048_056 $/atom:mol1/C40 $/atom:mol1/N39
$/bond:mol1/b48 @/bond:OPLSAA/048_048 $/atom:mol1/C41 $/atom:mol1/C40
$/bond:mol1/b49 @/bond:OPLSAA/048_048 $/atom:mol1/C42 $/atom:mol1/C41
$/bond:mol1/b50 @/bond:OPLSAA/048_056 $/atom:mol1/C38 $/atom:mol1/N39
$/bond:mol1/b51 @/bond:OPLSAA/048_048 $/atom:mol1/C37 $/atom:mol1/C42
$/bond:mol1/b52 @/bond:OPLSAA/013_013 $/atom:mol1/C44 $/atom:mol1/C43
$/bond:mol1/b53 @/bond:OPLSAA/013_013 $/atom:mol1/C45 $/atom:mol1/C44
$/bond:mol1/b54 @/bond:OPLSAA/013_013 $/atom:mol1/C46 $/atom:mol1/C45
$/bond:mol1/b55 @/bond:OPLSAA/013_048 $/atom:mol1/C42 $/atom:mol1/C43
$/bond:mol1/b56 @/bond:OPLSAA/013_048 $/atom:mol1/C41 $/atom:mol1/C46
$/bond:mol1/b57 @/bond:OPLSAA/013_048 $/atom:mol1/C48 $/atom:mol1/C47
$/bond:mol1/b58 @/bond:OPLSAA/048_048 $/atom:mol1/C49 $/atom:mol1/C48
$/bond:mol1/b59 @/bond:OPLSAA/048_048 $/atom:mol1/C40 $/atom:mol1/C49
$/bond:mol1/b60 @/bond:OPLSAA/013_013 $/atom:mol1/C46 $/atom:mol1/C47
$/bond:mol1/b61 @/bond:OPLSAA/048_048 $/atom:mol1/C51 $/atom:mol1/C50
$/bond:mol1/b62 @/bond:OPLSAA/048_048 $/atom:mol1/C52 $/atom:mol1/C51
$/bond:mol1/b63 @/bond:OPLSAA/048_048 $/atom:mol1/C53 $/atom:mol1/C52
$/bond:mol1/b64 @/bond:OPLSAA/048_048 $/atom:mol1/C49 $/atom:mol1/C50
$/bond:mol1/b65 @/bond:OPLSAA/048_048 $/atom:mol1/C48 $/atom:mol1/C53
$/bond:mol1/b66 @/bond:OPLSAA/013_048 $/atom:mol1/C6 $/atom:mol1/C54
$/bond:mol1/b67 @/bond:OPLSAA/013_013 $/atom:mol1/C54 $/atom:mol1/C55
$/bond:mol1/b68 @/bond:OPLSAA/013_048 $/atom:mol1/C1 $/atom:mol1/C56
$/bond:mol1/b69 @/bond:OPLSAA/013_048 $/atom:mol1/C5 $/atom:mol1/C57
$/bond:mol1/b70 @/bond:OPLSAA/013_048 $/atom:mol1/C2 $/atom:mol1/C58
$/bond:mol1/b71 @/bond:OPLSAA/013_048 $/atom:mol1/C11 $/atom:mol1/C59
$/bond:mol1/b72 @/bond:OPLSAA/013_048 $/atom:mol1/C12 $/atom:mol1/C60
$/bond:mol1/b73 @/bond:OPLSAA/005_048 $/atom:mol1/C18 $/atom:mol1/O61
$/bond:mol1/b74 @/bond:OPLSAA/013_013 $/atom:mol1/C25 $/atom:mol1/C62
$/bond:mol1/b75 @/bond:OPLSAA/013_013 $/atom:mol1/C24 $/atom:mol1/C63
$/bond:mol1/b76 @/bond:OPLSAA/005_048 $/atom:mol1/C30 $/atom:mol1/O64
$/bond:mol1/b77 @/bond:OPLSAA/005_048 $/atom:mol1/C27 $/atom:mol1/O65
$/bond:mol1/b78 @/bond:OPLSAA/003_004 $/atom:mol1/C34 $/atom:mol1/O66
$/bond:mol1/b79 @/bond:OPLSAA/003_004 $/atom:mol1/C31 $/atom:mol1/O67
$/bond:mol1/b80 @/bond:OPLSAA/013_048 $/atom:mol1/C53 $/atom:mol1/C68
$/bond:mol1/b81 @/bond:OPLSAA/013_048 $/atom:mol1/C52 $/atom:mol1/C69
$/bond:mol1/b82 @/bond:OPLSAA/013_013 $/atom:mol1/C7 $/atom:mol1/H70
$/bond:mol1/b83 @/bond:OPLSAA/013_013 $/atom:mol1/C7 $/atom:mol1/H71
$/bond:mol1/b84 @/bond:OPLSAA/013_013 $/atom:mol1/C10 $/atom:mol1/H72
$/bond:mol1/b85 @/bond:OPLSAA/013_013 $/atom:mol1/C10 $/atom:mol1/H73
$/bond:mol1/b86 @/bond:OPLSAA/048_049 $/atom:mol1/C15 $/atom:mol1/H74
$/bond:mol1/b87 @/bond:OPLSAA/013_046 $/atom:mol1/C23 $/atom:mol1/H75
$/bond:mol1/b88 @/bond:OPLSAA/013_046 $/atom:mol1/C23 $/atom:mol1/H76
$/bond:mol1/b89 @/bond:OPLSAA/013_046 $/atom:mol1/C24 $/atom:mol1/H77
$/bond:mol1/b90 @/bond:OPLSAA/013_046 $/atom:mol1/C25 $/atom:mol1/H78
$/bond:mol1/b91 @/bond:OPLSAA/013_046 $/atom:mol1/C26 $/atom:mol1/H79
$/bond:mol1/b92 @/bond:OPLSAA/013_046 $/atom:mol1/C26 $/atom:mol1/H80
$/bond:mol1/b93 @/bond:OPLSAA/013_046 $/atom:mol1/C35 $/atom:mol1/H81
$/bond:mol1/b94 @/bond:OPLSAA/013_046 $/atom:mol1/C35 $/atom:mol1/H82
$/bond:mol1/b95 @/bond:OPLSAA/013_046 $/atom:mol1/C36 $/atom:mol1/H83
$/bond:mol1/b96 @/bond:OPLSAA/013_046 $/atom:mol1/C36 $/atom:mol1/H84
$/bond:mol1/b97 @/bond:OPLSAA/013_046 $/atom:mol1/C43 $/atom:mol1/H85
$/bond:mol1/b98 @/bond:OPLSAA/013_046 $/atom:mol1/C43 $/atom:mol1/H86
$/bond:mol1/b99 @/bond:OPLSAA/013_046 $/atom:mol1/C44 $/atom:mol1/H87
$/bond:mol1/b100 @/bond:OPLSAA/013_046 $/atom:mol1/C44 $/atom:mol1/H88
$/bond:mol1/b101 @/bond:OPLSAA/013_046 $/atom:mol1/C45 $/atom:mol1/H89
$/bond:mol1/b102 @/bond:OPLSAA/013_046 $/atom:mol1/C45 $/atom:mol1/H90
$/bond:mol1/b103 @/bond:OPLSAA/013_046 $/atom:mol1/C46 $/atom:mol1/H91
$/bond:mol1/b104 @/bond:OPLSAA/013_046 $/atom:mol1/C47 $/atom:mol1/H92
$/bond:mol1/b105 @/bond:OPLSAA/013_046 $/atom:mol1/C47 $/atom:mol1/H93
$/bond:mol1/b106 @/bond:OPLSAA/048_049 $/atom:mol1/C50 $/atom:mol1/H94
$/bond:mol1/b107 @/bond:OPLSAA/048_049 $/atom:mol1/C51 $/atom:mol1/H95
$/bond:mol1/b108 @/bond:OPLSAA/013_046 $/atom:mol1/C54 $/atom:mol1/H96
$/bond:mol1/b109 @/bond:OPLSAA/013_046 $/atom:mol1/C54 $/atom:mol1/H97
$/bond:mol1/b110 @/bond:OPLSAA/013_046 $/atom:mol1/C55 $/atom:mol1/H98
$/bond:mol1/b111 @/bond:OPLSAA/013_046 $/atom:mol1/C55 $/atom:mol1/H99
$/bond:mol1/b112 @/bond:OPLSAA/013_046 $/atom:mol1/C55 $/atom:mol1/H100
$/bond:mol1/b113 @/bond:OPLSAA/013_046 $/atom:mol1/C56 $/atom:mol1/H101
$/bond:mol1/b114 @/bond:OPLSAA/013_046 $/atom:mol1/C56 $/atom:mol1/H102
$/bond:mol1/b115 @/bond:OPLSAA/013_046 $/atom:mol1/C56 $/atom:mol1/H103
$/bond:mol1/b116 @/bond:OPLSAA/013_046 $/atom:mol1/C57 $/atom:mol1/H104
$/bond:mol1/b117 @/bond:OPLSAA/013_046 $/atom:mol1/C57 $/atom:mol1/H105
$/bond:mol1/b118 @/bond:OPLSAA/013_046 $/atom:mol1/C57 $/atom:mol1/H106
$/bond:mol1/b119 @/bond:OPLSAA/013_046 $/atom:mol1/C58 $/atom:mol1/H107
$/bond:mol1/b120 @/bond:OPLSAA/013_046 $/atom:mol1/C58 $/atom:mol1/H108
$/bond:mol1/b121 @/bond:OPLSAA/013_046 $/atom:mol1/C58 $/atom:mol1/H109
$/bond:mol1/b122 @/bond:OPLSAA/013_046 $/atom:mol1/C59 $/atom:mol1/H110
$/bond:mol1/b123 @/bond:OPLSAA/013_046 $/atom:mol1/C59 $/atom:mol1/H111
$/bond:mol1/b124 @/bond:OPLSAA/013_046 $/atom:mol1/C59 $/atom:mol1/H112
$/bond:mol1/b125 @/bond:OPLSAA/013_046 $/atom:mol1/C60 $/atom:mol1/H113
$/bond:mol1/b126 @/bond:OPLSAA/013_046 $/atom:mol1/C60 $/atom:mol1/H114
$/bond:mol1/b127 @/bond:OPLSAA/013_046 $/atom:mol1/C60 $/atom:mol1/H115
$/bond:mol1/b128 @/bond:OPLSAA/005_007 $/atom:mol1/O61 $/atom:mol1/H116
$/bond:mol1/b129 @/bond:OPLSAA/013_046 $/atom:mol1/C62 $/atom:mol1/H117
$/bond:mol1/b130 @/bond:OPLSAA/013_046 $/atom:mol1/C62 $/atom:mol1/H118
$/bond:mol1/b131 @/bond:OPLSAA/013_046 $/atom:mol1/C62 $/atom:mol1/H119
$/bond:mol1/b132 @/bond:OPLSAA/013_046 $/atom:mol1/C63 $/atom:mol1/H120
$/bond:mol1/b133 @/bond:OPLSAA/013_046 $/atom:mol1/C63 $/atom:mol1/H121
$/bond:mol1/b134 @/bond:OPLSAA/013_046 $/atom:mol1/C63 $/atom:mol1/H122
$/bond:mol1/b135 @/bond:OPLSAA/005_007 $/atom:mol1/O64 $/atom:mol1/H123
$/bond:mol1/b136 @/bond:OPLSAA/005_007 $/atom:mol1/O65 $/atom:mol1/H124
$/bond:mol1/b137 @/bond:OPLSAA/013_046 $/atom:mol1/C68 $/atom:mol1/H125
$/bond:mol1/b138 @/bond:OPLSAA/013_046 $/atom:mol1/C68 $/atom:mol1/H126
$/bond:mol1/b139 @/bond:OPLSAA/013_046 $/atom:mol1/C68 $/atom:mol1/H127
$/bond:mol1/b140 @/bond:OPLSAA/013_046 $/atom:mol1/C69 $/atom:mol1/H128
$/bond:mol1/b141 @/bond:OPLSAA/013_046 $/atom:mol1/C69 $/atom:mol1/H129
$/bond:mol1/b142 @/bond:OPLSAA/013_046 $/atom:mol1/C69 $/atom:mol1/H130
$/bond:mol2/b1 @/bond:OPLSAA/013_048 $/atom:mol2/C3 $/atom:mol2/C2
$/bond:mol2/b2 @/bond:OPLSAA/048_048 $/atom:mol2/C4 $/atom:mol2/C3
$/bond:mol2/b3 @/bond:OPLSAA/013_048 $/atom:mol2/C5 $/atom:mol2/C4
$/bond:mol2/b4 @/bond:OPLSAA/013_013 $/atom:mol2/C1 $/atom:mol2/C2
$/bond:mol2/b5 @/bond:OPLSAA/013_013 $/atom:mol2/C1 $/atom:mol2/C5
$/bond:mol2/b6 @/bond:OPLSAA/048_048 $/atom:mol2/C7 $/atom:mol2/C6
$/bond:mol2/b7 @/bond:OPLSAA/048_048 $/atom:mol2/C8 $/atom:mol2/C7
$/bond:mol2/b8 @/bond:OPLSAA/048_048 $/atom:mol2/C9 $/atom:mol2/C8
$/bond:mol2/b9 @/bond:OPLSAA/048_048 $/atom:mol2/C4 $/atom:mol2/C6
$/bond:mol2/b10 @/bond:OPLSAA/048_048 $/atom:mol2/C3 $/atom:mol2/C9
$/bond:mol2/b11 @/bond:OPLSAA/048_048 $/atom:mol2/C11 $/atom:mol2/C10
$/bond:mol2/b12 @/bond:OPLSAA/048_048 $/atom:mol2/C12 $/atom:mol2/C11
$/bond:mol2/b13 @/bond:OPLSAA/048_048 $/atom:mol2/C13 $/atom:mol2/C12
$/bond:mol2/b14 @/bond:OPLSAA/048_048 $/atom:mol2/C8 $/atom:mol2/C10
$/bond:mol2/b15 @/bond:OPLSAA/048_048 $/atom:mol2/C7 $/atom:mol2/C13
$/bond:mol2/b16 @/bond:OPLSAA/048_048 $/atom:mol2/C15 $/atom:mol2/C14
$/bond:mol2/b17 @/bond:OPLSAA/048_048 $/atom:mol2/C16 $/atom:mol2/C15
$/bond:mol2/b18 @/bond:OPLSAA/048_048 $/atom:mol2/C17 $/atom:mol2/C16
$/bond:mol2/b19 @/bond:OPLSAA/048_048 $/atom:mol2/C12 $/atom:mol2/C14
$/bond:mol2/b20 @/bond:OPLSAA/048_048 $/atom:mol2/C11 $/atom:mol2/C17
$/bond:mol2/b21 @/bond:OPLSAA/048_048 $/atom:mol2/C19 $/atom:mol2/C18
$/bond:mol2/b22 @/bond:OPLSAA/048_048 $/atom:mol2/C20 $/atom:mol2/C19
$/bond:mol2/b23 @/bond:OPLSAA/048_048 $/atom:mol2/C21 $/atom:mol2/C20
$/bond:mol2/b24 @/bond:OPLSAA/048_048 $/atom:mol2/C16 $/atom:mol2/C18
$/bond:mol2/b25 @/bond:OPLSAA/048_048 $/atom:mol2/C15 $/atom:mol2/C21
$/bond:mol2/b26 @/bond:OPLSAA/048_048 $/atom:mol2/C23 $/atom:mol2/C22
$/bond:mol2/b27 @/bond:OPLSAA/048_048 $/atom:mol2/C24 $/atom:mol2/C23
$/bond:mol2/b28 @/bond:OPLSAA/048_056 $/atom:mol2/N25 $/atom:mol2/C24
$/bond:mol2/b29 @/bond:OPLSAA/048_048 $/atom:mol2/C20 $/atom:mol2/C22
$/bond:mol2/b30 @/bond:OPLSAA/048_056 $/atom:mol2/C19 $/atom:mol2/N25
$/bond:mol2/b31 @/bond:OPLSAA/048_048 $/atom:mol2/C27 $/atom:mol2/C26
$/bond:mol2/b32 @/bond:OPLSAA/013_048 $/atom:mol2/C28 $/atom:mol2/C27
$/bond:mol2/b33 @/bond:OPLSAA/048_048 $/atom:mol2/C24 $/atom:mol2/C26
$/bond:mol2/b34 @/bond:OPLSAA/013_048 $/atom:mol2/C23 $/atom:mol2/C28
$/bond:mol2/b35 @/bond:OPLSAA/048_048 $/atom:mol2/C30 $/atom:mol2/C29
$/bond:mol2/b36 @/bond:OPLSAA/048_048 $/atom:mol2/C31 $/atom:mol2/C30
$/bond:mol2/b37 @/bond:OPLSAA/048_048 $/atom:mol2/C32 $/atom:mol2/C31
$/bond:mol2/b38 @/bond:OPLSAA/048_048 $/atom:mol2/C27 $/atom:mol2/C29
$/bond:mol2/b39 @/bond:OPLSAA/048_048 $/atom:mol2/C26 $/atom:mol2/C32
$/bond:mol2/b40 @/bond:OPLSAA/048_048 $/atom:mol2/C34 $/atom:mol2/C33
$/bond:mol2/b41 @/bond:OPLSAA/048_048 $/atom:mol2/C35 $/atom:mol2/C34
$/bond:mol2/b42 @/bond:OPLSAA/048_048 $/atom:mol2/C36 $/atom:mol2/C35
$/bond:mol2/b43 @/bond:OPLSAA/048_048 $/atom:mol2/C31 $/atom:mol2/C33
$/bond:mol2/b44 @/bond:OPLSAA/048_048 $/atom:mol2/C30 $/atom:mol2/C36
$/bond:mol2/b45 @/bond:OPLSAA/013_047 $/atom:mol2/C38 $/atom:mol2/C37
$/bond:mol2/b46 @/bond:OPLSAA/047_047 $/atom:mol2/C39 $/atom:mol2/C38
$/bond:mol2/b47 @/bond:OPLSAA/013_047 $/atom:mol2/C40 $/atom:mol2/C39
$/bond:mol2/b48 @/bond:OPLSAA/013_048 $/atom:mol2/C35 $/atom:mol2/C37
$/bond:mol2/b49 @/bond:OPLSAA/013_048 $/atom:mol2/C34 $/atom:mol2/C40
$/bond:mol2/b50 @/bond:OPLSAA/047_047 $/atom:mol2/C38 $/atom:mol2/C41
$/bond:mol2/b51 @/bond:OPLSAA/003_047 $/atom:mol2/C41 $/atom:mol2/C42
$/bond:mol2/b52 @/bond:OPLSAA/003_048 $/atom:mol2/C42 $/atom:mol2/C43
$/bond:mol2/b53 @/bond:OPLSAA/048_048 $/atom:mol2/C43 $/atom:mol2/C44
$/bond:mol2/b54 @/bond:OPLSAA/047_048 $/atom:mol2/C44 $/atom:mol2/C45
$/bond:mol2/b55 @/bond:OPLSAA/047_047 $/atom:mol2/C39 $/atom:mol2/C45
$/bond:mol2/b56 @/bond:OPLSAA/013_048 $/atom:mol2/C47 $/atom:mol2/C46
$/bond:mol2/b57 @/bond:OPLSAA/013_013 $/atom:mol2/C48 $/atom:mol2/C47
$/bond:mol2/b58 @/bond:OPLSAA/013_013 $/atom:mol2/C49 $/atom:mol2/C48
$/bond:mol2/b59 @/bond:OPLSAA/048_048 $/atom:mol2/C44 $/atom:mol2/C46
$/bond:mol2/b60 @/bond:OPLSAA/013_047 $/atom:mol2/C45 $/atom:mol2/C49
$/bond:mol2/b61 @/bond:OPLSAA/048_048 $/atom:mol2/C51 $/atom:mol2/C50
$/bond:mol2/b62 @/bond:OPLSAA/048_048 $/atom:mol2/C52 $/atom:mol2/C51
$/bond:mol2/b63 @/bond:OPLSAA/048_048 $/atom:mol2/C46 $/atom:mol2/C52
$/bond:mol2/b64 @/bond:OPLSAA/048_048 $/atom:mol2/C43 $/atom:mol2/C50
$/bond:mol2/b65 @/bond:OPLSAA/013_048 $/atom:mol2/C54 $/atom:mol2/C53
$/bond:mol2/b66 @/bond:OPLSAA/048_048 $/atom:mol2/C55 $/atom:mol2/C54
$/bond:mol2/b67 @/bond:OPLSAA/013_048 $/atom:mol2/C56 $/atom:mol2/C55
$/bond:mol2/b68 @/bond:OPLSAA/013_048 $/atom:mol2/C52 $/atom:mol2/C53
$/bond:mol2/b69 @/bond:OPLSAA/013_048 $/atom:mol2/C51 $/atom:mol2/C56
$/bond:mol2/b70 @/bond:OPLSAA/048_048 $/atom:mol2/C58 $/atom:mol2/C57
$/bond:mol2/b71 @/bond:OPLSAA/048_048 $/atom:mol2/C59 $/atom:mol2/C58
$/bond:mol2/b72 @/bond:OPLSAA/048_048 $/atom:mol2/C60 $/atom:mol2/C59
$/bond:mol2/b73 @/bond:OPLSAA/048_048 $/atom:mol2/C55 $/atom:mol2/C57
$/bond:mol2/b74 @/bond:OPLSAA/048_048 $/atom:mol2/C54 $/atom:mol2/C60
$/bond:mol2/b75 @/bond:OPLSAA/013_048 $/atom:mol2/C62 $/atom:mol2/C61
$/bond:mol2/b76 @/bond:OPLSAA/048_048 $/atom:mol2/C63 $/atom:mol2/C62
$/bond:mol2/b77 @/bond:OPLSAA/013_048 $/atom:mol2/C64 $/atom:mol2/C63
$/bond:mol2/b78 @/bond:OPLSAA/013_048 $/atom:mol2/C60 $/atom:mol2/C61
$/bond:mol2/b79 @/bond:OPLSAA/013_048 $/atom:mol2/C59 $/atom:mol2/C64
$/bond:mol2/b80 @/bond:OPLSAA/048_056 $/atom:mol2/N66 $/atom:mol2/C65
$/bond:mol2/b81 @/bond:OPLSAA/048_056 $/atom:mol2/C67 $/atom:mol2/N66
$/bond:mol2/b82 @/bond:OPLSAA/048_048 $/atom:mol2/C68 $/atom:mol2/C67
$/bond:mol2/b83 @/bond:OPLSAA/048_048 $/atom:mol2/C63 $/atom:mol2/C65
$/bond:mol2/b84 @/bond:OPLSAA/048_048 $/atom:mol2/C62 $/atom:mol2/C68
$/bond:mol2/b85 @/bond:OPLSAA/048_048 $/atom:mol2/C70 $/atom:mol2/C69
$/bond:mol2/b86 @/bond:OPLSAA/048_048 $/atom:mol2/C71 $/atom:mol2/C70
$/bond:mol2/b87 @/bond:OPLSAA/048_048 $/atom:mol2/C72 $/atom:mol2/C71
$/bond:mol2/b88 @/bond:OPLSAA/048_048 $/atom:mol2/C68 $/atom:mol2/C69
$/bond:mol2/b89 @/bond:OPLSAA/048_048 $/atom:mol2/C67 $/atom:mol2/C72
$/bond:mol2/b90 @/bond:OPLSAA/013_048 $/atom:mol2/C74 $/atom:mol2/C73
$/bond:mol2/b91 @/bond:OPLSAA/048_048 $/atom:mol2/C75 $/atom:mol2/C74
$/bond:mol2/b92 @/bond:OPLSAA/013_048 $/atom:mol2/C76 $/atom:mol2/C75
$/bond:mol2/b93 @/bond:OPLSAA/013_048 $/atom:mol2/C58 $/atom:mol2/C73
$/bond:mol2/b94 @/bond:OPLSAA/013_048 $/atom:mol2/C57 $/atom:mol2/C76
$/bond:mol2/b95 @/bond:OPLSAA/048_048 $/atom:mol2/C78 $/atom:mol2/C77
$/bond:mol2/b96 @/bond:OPLSAA/048_048 $/atom:mol2/C79 $/atom:mol2/C78
$/bond:mol2/b97 @/bond:OPLSAA/048_048 $/atom:mol2/C80 $/atom:mol2/C79
$/bond:mol2/b98 @/bond:OPLSAA/048_048 $/atom:mol2/C75 $/atom:mol2/C77
$/bond:mol2/b99 @/bond:OPLSAA/048_048 $/atom:mol2/C74 $/atom:mol2/C80
$/bond:mol2/b100 @/bond:OPLSAA/013_013 $/atom:mol2/C82 $/atom:mol2/C81
$/bond:mol2/b101 @/bond:OPLSAA/013_013 $/atom:mol2/C83 $/atom:mol2/C82
$/bond:mol2/b102 @/bond:OPLSAA/003_013 $/atom:mol2/C84 $/atom:mol2/C83
$/bond:mol2/b103 @/bond:OPLSAA/013_048 $/atom:mol2/C80 $/atom:mol2/C81
$/bond:mol2/b104 @/bond:OPLSAA/003_048 $/atom:mol2/C79 $/atom:mol2/C84
$/bond:mol2/b105 @/bond:OPLSAA/005_048 $/atom:mol2/C6 $/atom:mol2/O85
$/bond:mol2/b106 @/bond:OPLSAA/005_048 $/atom:mol2/C21 $/atom:mol2/O86
$/bond:mol2/b107 @/bond:OPLSAA/013_013 $/atom:mol2/C40 $/atom:mol2/C87
$/bond:mol2/b108 @/bond:OPLSAA/005_047 $/atom:mol2/C41 $/atom:mol2/O88
$/bond:mol2/b109 @/bond:OPLSAA/003_004 $/atom:mol2/C42 $/atom:mol2/O89
$/bond:mol2/b110 @/bond:OPLSAA/005_048 $/atom:mol2/C78 $/atom:mol2/O90
$/bond:mol2/b111 @/bond:OPLSAA/003_004 $/atom:mol2/C84 $/atom:mol2/O91
$/bond:mol2/b112 @/bond:OPLSAA/013_048 $/atom:mol2/C71 $/atom:mol2/C92
$/bond:mol2/b113 @/bond:OPLSAA/048_048 $/atom:mol2/C95 $/atom:mol2/C94
$/bond:mol2/b114 @/bond:OPLSAA/048_048 $/atom:mol2/C96 $/atom:mol2/C95
$/bond:mol2/b115 @/bond:OPLSAA/048_048 $/atom:mol2/C97 $/atom:mol2/C96
$/bond:mol2/b116 @/bond:OPLSAA/048_048 $/atom:mol2/C98 $/atom:mol2/C97
$/bond:mol2/b117 @/bond:OPLSAA/048_048 $/atom:mol2/C93 $/atom:mol2/C94
$/bond:mol2/b118 @/bond:OPLSAA/048_048 $/atom:mol2/C93 $/atom:mol2/C98
$/bond:mol2/b119 @/bond:OPLSAA/003_048 $/atom:mol2/C100 $/atom:mol2/C99
$/bond:mol2/b120 @/bond:OPLSAA/048_048 $/atom:mol2/C101 $/atom:mol2/C100
$/bond:mol2/b121 @/bond:OPLSAA/003_048 $/atom:mol2/C102 $/atom:mol2/C101
$/bond:mol2/b122 @/bond:OPLSAA/003_048 $/atom:mol2/C97 $/atom:mol2/C99
$/bond:mol2/b123 @/bond:OPLSAA/003_048 $/atom:mol2/C96 $/atom:mol2/C102
$/bond:mol2/b124 @/bond:OPLSAA/013_047 $/atom:mol2/C104 $/atom:mol2/C103
$/bond:mol2/b125 @/bond:OPLSAA/047_047 $/atom:mol2/C105 $/atom:mol2/C104
$/bond:mol2/b126 @/bond:OPLSAA/013_047 $/atom:mol2/C106 $/atom:mol2/C105
$/bond:mol2/b127 @/bond:OPLSAA/013_048 $/atom:mol2/C101 $/atom:mol2/C103
$/bond:mol2/b128 @/bond:OPLSAA/013_048 $/atom:mol2/C100 $/atom:mol2/C106
$/bond:mol2/b129 @/bond:OPLSAA/013_013 $/atom:mol2/C108 $/atom:mol2/C107
$/bond:mol2/b130 @/bond:OPLSAA/013_013 $/atom:mol2/C109 $/atom:mol2/C108
$/bond:mol2/b131 @/bond:OPLSAA/013_013 $/atom:mol2/C110 $/atom:mol2/C109
$/bond:mol2/b132 @/bond:OPLSAA/013_047 $/atom:mol2/C105 $/atom:mol2/C107
$/bond:mol2/b133 @/bond:OPLSAA/013_047 $/atom:mol2/C104 $/atom:mol2/C110
$/bond:mol2/b134 @/bond:OPLSAA/005_048 $/atom:mol2/C98 $/atom:mol2/O111
$/bond:mol2/b135 @/bond:OPLSAA/005_048 $/atom:mol2/C95 $/atom:mol2/O112
$/bond:mol2/b136 @/bond:OPLSAA/003_004 $/atom:mol2/C99 $/atom:mol2/O113
$/bond:mol2/b137 @/bond:OPLSAA/003_004 $/atom:mol2/C102 $/atom:mol2/O114
$/bond:mol2/b138 @/bond:OPLSAA/013_046 $/atom:mol2/C103 $/atom:mol2/H115
$/bond:mol2/b139 @/bond:OPLSAA/013_046 $/atom:mol2/C103 $/atom:mol2/H116
$/bond:mol2/b140 @/bond:OPLSAA/013_046 $/atom:mol2/C106 $/atom:mol2/H117
$/bond:mol2/b141 @/bond:OPLSAA/013_046 $/atom:mol2/C106 $/atom:mol2/H118
$/bond:mol2/b142 @/bond:OPLSAA/013_046 $/atom:mol2/C107 $/atom:mol2/H119
$/bond:mol2/b143 @/bond:OPLSAA/013_046 $/atom:mol2/C107 $/atom:mol2/H120
$/bond:mol2/b144 @/bond:OPLSAA/013_046 $/atom:mol2/C108 $/atom:mol2/H121
$/bond:mol2/b145 @/bond:OPLSAA/013_046 $/atom:mol2/C108 $/atom:mol2/H122
$/bond:mol2/b146 @/bond:OPLSAA/013_046 $/atom:mol2/C109 $/atom:mol2/H123
$/bond:mol2/b147 @/bond:OPLSAA/013_046 $/atom:mol2/C109 $/atom:mol2/H124
$/bond:mol2/b148 @/bond:OPLSAA/013_046 $/atom:mol2/C110 $/atom:mol2/H125
$/bond:mol2/b149 @/bond:OPLSAA/013_046 $/atom:mol2/C110 $/atom:mol2/H126
$/bond:mol2/b150 @/bond:OPLSAA/005_007 $/atom:mol2/O111 $/atom:mol2/H127
$/bond:mol2/b151 @/bond:OPLSAA/005_007 $/atom:mol2/O112 $/atom:mol2/H128
$/bond:mol2/b152 @/bond:OPLSAA/013_048 $/atom:mol2/C40 $/atom:mol2/C94
$/bond:mol2/b153 @/bond:OPLSAA/013_048 $/atom:mol2/C37 $/atom:mol2/C93
$/bond:mol2/b154 @/bond:OPLSAA/013_046 $/atom:mol2/C1 $/atom:mol2/H129
$/bond:mol2/b155 @/bond:OPLSAA/013_046 $/atom:mol2/C1 $/atom:mol2/H130
$/bond:mol2/b156 @/bond:OPLSAA/013_046 $/atom:mol2/C2 $/atom:mol2/H131
$/bond:mol2/b157 @/bond:OPLSAA/013_046 $/atom:mol2/C2 $/atom:mol2/H132
$/bond:mol2/b158 @/bond:OPLSAA/013_046 $/atom:mol2/C5 $/atom:mol2/H133
$/bond:mol2/b159 @/bond:OPLSAA/013_046 $/atom:mol2/C5 $/atom:mol2/H134
$/bond:mol2/b160 @/bond:OPLSAA/048_049 $/atom:mol2/C9 $/atom:mol2/H135
$/bond:mol2/b161 @/bond:OPLSAA/048_049 $/atom:mol2/C10 $/atom:mol2/H136
$/bond:mol2/b162 @/bond:OPLSAA/048_049 $/atom:mol2/C13 $/atom:mol2/H137
$/bond:mol2/b163 @/bond:OPLSAA/048_049 $/atom:mol2/C14 $/atom:mol2/H138
$/bond:mol2/b164 @/bond:OPLSAA/048_049 $/atom:mol2/C17 $/atom:mol2/H139
$/bond:mol2/b165 @/bond:OPLSAA/048_049 $/atom:mol2/C22 $/atom:mol2/H140
$/bond:mol2/b166 @/bond:OPLSAA/013_046 $/atom:mol2/C28 $/atom:mol2/H141
$/bond:mol2/b167 @/bond:OPLSAA/013_046 $/atom:mol2/C28 $/atom:mol2/H142
$/bond:mol2/b168 @/bond:OPLSAA/048_049 $/atom:mol2/C29 $/atom:mol2/H143
$/bond:mol2/b169 @/bond:OPLSAA/048_049 $/atom:mol2/C32 $/atom:mol2/H144
$/bond:mol2/b170 @/bond:OPLSAA/048_049 $/atom:mol2/C33 $/atom:mol2/H145
$/bond:mol2/b171 @/bond:OPLSAA/048_049 $/atom:mol2/C36 $/atom:mol2/H146
$/bond:mol2/b172 @/bond:OPLSAA/013_046 $/atom:mol2/C37 $/atom:mol2/H147
$/bond:mol2/b173 @/bond:OPLSAA/013_046 $/atom:mol2/C47 $/atom:mol2/H148
$/bond:mol2/b174 @/bond:OPLSAA/013_046 $/atom:mol2/C47 $/atom:mol2/H149
$/bond:mol2/b175 @/bond:OPLSAA/013_046 $/atom:mol2/C48 $/atom:mol2/H150
$/bond:mol2/b176 @/bond:OPLSAA/013_046 $/atom:mol2/C48 $/atom:mol2/H151
$/bond:mol2/b177 @/bond:OPLSAA/013_046 $/atom:mol2/C49 $/atom:mol2/H152
$/bond:mol2/b178 @/bond:OPLSAA/013_046 $/atom:mol2/C49 $/atom:mol2/H153
$/bond:mol2/b179 @/bond:OPLSAA/048_049 $/atom:mol2/C50 $/atom:mol2/H154
$/bond:mol2/b180 @/bond:OPLSAA/013_046 $/atom:mol2/C53 $/atom:mol2/H155
$/bond:mol2/b181 @/bond:OPLSAA/013_046 $/atom:mol2/C53 $/atom:mol2/H156
$/bond:mol2/b182 @/bond:OPLSAA/013_046 $/atom:mol2/C56 $/atom:mol2/H157
$/bond:mol2/b183 @/bond:OPLSAA/013_046 $/atom:mol2/C56 $/atom:mol2/H158
$/bond:mol2/b184 @/bond:OPLSAA/013_046 $/atom:mol2/C61 $/atom:mol2/H159
$/bond:mol2/b185 @/bond:OPLSAA/013_046 $/atom:mol2/C61 $/atom:mol2/H160
$/bond:mol2/b186 @/bond:OPLSAA/013_046 $/atom:mol2/C64 $/atom:mol2/H161
$/bond:mol2/b187 @/bond:OPLSAA/013_046 $/atom:mol2/C64 $/atom:mol2/H162
$/bond:mol2/b188 @/bond:OPLSAA/048_049 $/atom:mol2/C65 $/atom:mol2/H163
$/bond:mol2/b189 @/bond:OPLSAA/048_049 $/atom:mol2/C69 $/atom:mol2/H164
$/bond:mol2/b190 @/bond:OPLSAA/048_049 $/atom:mol2/C70 $/atom:mol2/H165
$/bond:mol2/b191 @/bond:OPLSAA/048_049 $/atom:mol2/C72 $/atom:mol2/H166
$/bond:mol2/b192 @/bond:OPLSAA/013_046 $/atom:mol2/C73 $/atom:mol2/H167
$/bond:mol2/b193 @/bond:OPLSAA/013_046 $/atom:mol2/C73 $/atom:mol2/H168
$/bond:mol2/b194 @/bond:OPLSAA/013_046 $/atom:mol2/C76 $/atom:mol2/H169
$/bond:mol2/b195 @/bond:OPLSAA/013_046 $/atom:mol2/C76 $/atom:mol2/H170
$/bond:mol2/b196 @/bond:OPLSAA/048_049 $/atom:mol2/C77 $/atom:mol2/H171
$/bond:mol2/b197 @/bond:OPLSAA/013_046 $/atom:mol2/C81 $/atom:mol2/H172
$/bond:mol2/b198 @/bond:OPLSAA/013_046 $/atom:mol2/C81 $/atom:mol2/H173
$/bond:mol2/b199 @/bond:OPLSAA/013_046 $/atom:mol2/C82 $/atom:mol2/H174
$/bond:mol2/b200 @/bond:OPLSAA/013_046 $/atom:mol2/C82 $/atom:mol2/H175
$/bond:mol2/b201 @/bond:OPLSAA/013_046 $/atom:mol2/C83 $/atom:mol2/H176
$/bond:mol2/b202 @/bond:OPLSAA/013_046 $/atom:mol2/C83 $/atom:mol2/H177
$/bond:mol2/b203 @/bond:OPLSAA/005_007 $/atom:mol2/O85 $/atom:mol2/H178
$/bond:mol2/b204 @/bond:OPLSAA/005_007 $/atom:mol2/O86 $/atom:mol2/H179
$/bond:mol2/b205 @/bond:OPLSAA/013_046 $/atom:mol2/C87 $/atom:mol2/H180
$/bond:mol2/b206 @/bond:OPLSAA/013_046 $/atom:mol2/C87 $/atom:mol2/H181
$/bond:mol2/b207 @/bond:OPLSAA/013_046 $/atom:mol2/C87 $/atom:mol2/H182
$/bond:mol2/b208 @/bond:OPLSAA/005_007 $/atom:mol2/O88 $/atom:mol2/H183
$/bond:mol2/b209 @/bond:OPLSAA/005_007 $/atom:mol2/O90 $/atom:mol2/H184
$/bond:mol2/b210 @/bond:OPLSAA/013_046 $/atom:mol2/C92 $/atom:mol2/H185
$/bond:mol2/b211 @/bond:OPLSAA/013_046 $/atom:mol2/C92 $/atom:mol2/H186
$/bond:mol2/b212 @/bond:OPLSAA/013_046 $/atom:mol2/C92 $/atom:mol2/H187
$/bond:mol2/b213 @/bond:OPLSAA/048_049 $/atom:mol2/C18 $/atom:mol2/H188
$/bond:mol3/b1 @/bond:OPLSAA/013_013 $/atom:mol3/C3 $/atom:mol3/C2
$/bond:mol3/b2 @/bond:OPLSAA/013_013 $/atom:mol3/C4 $/atom:mol3/C3
$/bond:mol3/b3 @/bond:OPLSAA/013_013 $/atom:mol3/C5 $/atom:mol3/C4
$/bond:mol3/b4 @/bond:OPLSAA/013_020 $/atom:mol3/O6 $/atom:mol3/C5
$/bond:mol3/b5 @/bond:OPLSAA/013_013 $/atom:mol3/C1 $/atom:mol3/C2
$/bond:mol3/b6 @/bond:OPLSAA/013_020 $/atom:mol3/C1 $/atom:mol3/O6
$/bond:mol3/b7 @/bond:OPLSAA/013_013 $/atom:mol3/C8 $/atom:mol3/C7
$/bond:mol3/b8 @/bond:OPLSAA/013_013 $/atom:mol3/C9 $/atom:mol3/C8
$/bond:mol3/b9 @/bond:OPLSAA/013_013 $/atom:mol3/C10 $/atom:mol3/C9
$/bond:mol3/b10 @/bond:OPLSAA/013_013 $/atom:mol3/C4 $/atom:mol3/C7
$/bond:mol3/b11 @/bond:OPLSAA/013_013 $/atom:mol3/C3 $/atom:mol3/C10
$/bond:mol3/b12 @/bond:OPLSAA/013_020 $/atom:mol3/C12 $/atom:mol3/O11
$/bond:mol3/b13 @/bond:OPLSAA/013_013 $/atom:mol3/C13 $/atom:mol3/C12
$/bond:mol3/b14 @/bond:OPLSAA/013_013 $/atom:mol3/C14 $/atom:mol3/C13
$/bond:mol3/b15 @/bond:OPLSAA/013_020 $/atom:mol3/C8 $/atom:mol3/O11
$/bond:mol3/b16 @/bond:OPLSAA/013_013 $/atom:mol3/C7 $/atom:mol3/C14
$/bond:mol3/b17 @/bond:OPLSAA/047_048 $/atom:mol3/C16 $/atom:mol3/C15
$/bond:mol3/b18 @/bond:OPLSAA/048_048 $/atom:mol3/C17 $/atom:mol3/C16
$/bond:mol3/b19 @/bond:OPLSAA/013_048 $/atom:mol3/C18 $/atom:mol3/C17
$/bond:mol3/b20 @/bond:OPLSAA/013_047 $/atom:mol3/C13 $/atom:mol3/C15
$/bond:mol3/b21 @/bond:OPLSAA/013_013 $/atom:mol3/C12 $/atom:mol3/C18
$/bond:mol3/b22 @/bond:OPLSAA/048_048 $/atom:mol3/C20 $/atom:mol3/C19
$/bond:mol3/b23 @/bond:OPLSAA/048_048 $/atom:mol3/C21 $/atom:mol3/C20
$/bond:mol3/b24 @/bond:OPLSAA/048_048 $/atom:mol3/C22 $/atom:mol3/C21
$/bond:mol3/b25 @/bond:OPLSAA/048_048 $/atom:mol3/C17 $/atom:mol3/C19
$/bond:mol3/b26 @/bond:OPLSAA/048_048 $/atom:mol3/C16 $/atom:mol3/C22
$/bond:mol3/b27 @/bond:OPLSAA/013_013 $/atom:mol3/C24 $/atom:mol3/C23
$/bond:mol3/b28 @/bond:OPLSAA/013_047 $/atom:mol3/C25 $/atom:mol3/C24
$/bond:mol3/b29 @/bond:OPLSAA/047_047 $/atom:mol3/C15 $/atom:mol3/C25
$/bond:mol3/b30 @/bond:OPLSAA/013_048 $/atom:mol3/C22 $/atom:mol3/C23
$/bond:mol3/b31 @/bond:OPLSAA/020_048 $/atom:mol3/C27 $/atom:mol3/O26
$/bond:mol3/b32 @/bond:OPLSAA/048_048 $/atom:mol3/C28 $/atom:mol3/C27
$/bond:mol3/b33 @/bond:OPLSAA/048_048 $/atom:mol3/C29 $/atom:mol3/C28
$/bond:mol3/b34 @/bond:OPLSAA/020_048 $/atom:mol3/C21 $/atom:mol3/O26
$/bond:mol3/b35 @/bond:OPLSAA/048_048 $/atom:mol3/C20 $/atom:mol3/C29
$/bond:mol3/b36 @/bond:OPLSAA/013_047 $/atom:mol3/C31 $/atom:mol3/C30
$/bond:mol3/b37 @/bond:OPLSAA/013_048 $/atom:mol3/C32 $/atom:mol3/C31
$/bond:mol3/b38 @/bond:OPLSAA/013_047 $/atom:mol3/C18 $/atom:mol3/C30
$/bond:mol3/b39 @/bond:OPLSAA/048_048 $/atom:mol3/C19 $/atom:mol3/C32
$/bond:mol3/b40 @/bond:OPLSAA/047_047 $/atom:mol3/C34 $/atom:mol3/C33
$/bond:mol3/b41 @/bond:OPLSAA/013_047 $/atom:mol3/C35 $/atom:mol3/C34
$/bond:mol3/b42 @/bond:OPLSAA/013_047 $/atom:mol3/C36 $/atom:mol3/C35
$/bond:mol3/b43 @/bond:OPLSAA/013_047 $/atom:mol3/C31 $/atom:mol3/C33
$/bond:mol3/b44 @/bond:OPLSAA/047_047 $/atom:mol3/C30 $/atom:mol3/C36
$/bond:mol3/b45 @/bond:OPLSAA/013_013 $/atom:mol3/C38 $/atom:mol3/C37
$/bond:mol3/b46 @/bond:OPLSAA/013_047 $/atom:mol3/C39 $/atom:mol3/C38
$/bond:mol3/b47 @/bond:OPLSAA/047_047 $/atom:mol3/C40 $/atom:mol3/C39
$/bond:mol3/b48 @/bond:OPLSAA/013_047 $/atom:mol3/C34 $/atom:mol3/C37
$/bond:mol3/b49 @/bond:OPLSAA/047_047 $/atom:mol3/C33 $/atom:mol3/C40
$/bond:mol3/b50 @/bond:OPLSAA/013_013 $/atom:mol3/C42 $/atom:mol3/C41
$/bond:mol3/b51 @/bond:OPLSAA/013_013 $/atom:mol3/C43 $/atom:mol3/C42
$/bond:mol3/b52 @/bond:OPLSAA/013_013 $/atom:mol3/C44 $/atom:mol3/C43
$/bond:mol3/b53 @/bond:OPLSAA/013_047 $/atom:mol3/C40 $/atom:mol3/C41
$/bond:mol3/b54 @/bond:OPLSAA/013_047 $/atom:mol3/C39 $/atom:mol3/C44
$/bond:mol3/b55 @/bond:OPLSAA/048_048 $/atom:mol3/C46 $/atom:mol3/C45
$/bond:mol3/b56 @/bond:OPLSAA/048_048 $/atom:mol3/C32 $/atom:mol3/C46
$/bond:mol3/b57 @/bond:OPLSAA/048_048 $/atom:mol3/C29 $/atom:mol3/C45
$/bond:mol3/b58 @/bond:OPLSAA/048_048 $/atom:mol3/C48 $/atom:mol3/C47
$/bond:mol3/b59 @/bond:OPLSAA/016_048 $/atom:mol3/S49 $/atom:mol3/C48
$/bond:mol3/b60 @/bond:OPLSAA/016_048 $/atom:mol3/C45 $/atom:mol3/S49
$/bond:mol3/b61 @/bond:OPLSAA/048_048 $/atom:mol3/C28 $/atom:mol3/C47
$/bond:mol3/b62 @/bond:OPLSAA/048_048 $/atom:mol3/C51 $/atom:mol3/C50
$/bond:mol3/b63 @/bond:OPLSAA/048_048 $/atom:mol3/C52 $/atom:mol3/C51
$/bond:mol3/b64 @/bond:OPLSAA/048_048 $/atom:mol3/C53 $/atom:mol3/C52
$/bond:mol3/b65 @/bond:OPLSAA/048_048 $/atom:mol3/C48 $/atom:mol3/C50
$/bond:mol3/b66 @/bond:OPLSAA/048_048 $/atom:mol3/C47 $/atom:mol3/C53
$/bond:mol3/b67 @/bond:OPLSAA/048_048 $/atom:mol3/C55 $/atom:mol3/C54
$/bond:mol3/b68 @/bond:OPLSAA/048_048 $/atom:mol3/C56 $/atom:mol3/C55
$/bond:mol3/b69 @/bond:OPLSAA/048_048 $/atom:mol3/C57 $/atom:mol3/C56
$/bond:mol3/b70 @/bond:OPLSAA/048_048 $/atom:mol3/C52 $/atom:mol3/C54
$/bond:mol3/b71 @/bond:OPLSAA/048_048 $/atom:mol3/C51 $/atom:mol3/C57
$/bond:mol3/b72 @/bond:OPLSAA/048_048 $/atom:mol3/C59 $/atom:mol3/C58
$/bond:mol3/b73 @/bond:OPLSAA/048_048 $/atom:mol3/C60 $/atom:mol3/C59
$/bond:mol3/b74 @/bond:OPLSAA/048_048 $/atom:mol3/C61 $/atom:mol3/C60
$/bond:mol3/b75 @/bond:OPLSAA/048_048 $/atom:mol3/C56 $/atom:mol3/C58
$/bond:mol3/b76 @/bond:OPLSAA/048_048 $/atom:mol3/C55 $/atom:mol3/C61
$/bond:mol3/b77 @/bond:OPLSAA/048_048 $/atom:mol3/C63 $/atom:mol3/C62
$/bond:mol3/b78 @/bond:OPLSAA/048_048 $/atom:mol3/C27 $/atom:mol3/C63
$/bond:mol3/b79 @/bond:OPLSAA/048_048 $/atom:mol3/C53 $/atom:mol3/C62
$/bond:mol3/b80 @/bond:OPLSAA/048_048 $/atom:mol3/C65 $/atom:mol3/C64
$/bond:mol3/b81 @/bond:OPLSAA/048_048 $/atom:mol3/C62 $/atom:mol3/C65
$/bond:mol3/b82 @/bond:OPLSAA/048_048 $/atom:mol3/C54 $/atom:mol3/C64
$/bond:mol3/b83 @/bond:OPLSAA/048_048 $/atom:mol3/C67 $/atom:mol3/C66
$/bond:mol3/b84 @/bond:OPLSAA/048_048 $/atom:mol3/C64 $/atom:mol3/C67
$/bond:mol3/b85 @/bond:OPLSAA/048_048 $/atom:mol3/C61 $/atom:mol3/C66
$/bond:mol3/b86 @/bond:OPLSAA/048_048 $/atom:mol3/C69 $/atom:mol3/C68
$/bond:mol3/b87 @/bond:OPLSAA/048_048 $/atom:mol3/C70 $/atom:mol3/C69
$/bond:mol3/b88 @/bond:OPLSAA/048_048 $/atom:mol3/C66 $/atom:mol3/C70
$/bond:mol3/b89 @/bond:OPLSAA/048_048 $/atom:mol3/C60 $/atom:mol3/C68
$/bond:mol3/b90 @/bond:OPLSAA/013_020 $/atom:mol3/C72 $/atom:mol3/O71
$/bond:mol3/b91 @/bond:OPLSAA/013_013 $/atom:mol3/C73 $/atom:mol3/C72
$/bond:mol3/b92 @/bond:OPLSAA/013_013 $/atom:mol3/C74 $/atom:mol3/C73
$/bond:mol3/b93 @/bond:OPLSAA/020_048 $/atom:mol3/C59 $/atom:mol3/O71
$/bond:mol3/b94 @/bond:OPLSAA/013_048 $/atom:mol3/C58 $/atom:mol3/C74
$/bond:mol3/b95 @/bond:OPLSAA/013_013 $/atom:mol3/C76 $/atom:mol3/C75
$/bond:mol3/b96 @/bond:OPLSAA/013_013 $/atom:mol3/C77 $/atom:mol3/C76
$/bond:mol3/b97 @/bond:OPLSAA/013_013 $/atom:mol3/C78 $/atom:mol3/C77
$/bond:mol3/b98 @/bond:OPLSAA/013_013 $/atom:mol3/C73 $/atom:mol3/C75
$/bond:mol3/b99 @/bond:OPLSAA/013_013 $/atom:mol3/C72 $/atom:mol3/C78
$/bond:mol3/b100 @/bond:OPLSAA/013_013 $/atom:mol3/C80 $/atom:mol3/C79
$/bond:mol3/b101 @/bond:OPLSAA/013_013 $/atom:mol3/C81 $/atom:mol3/C80
$/bond:mol3/b102 @/bond:OPLSAA/013_044 $/atom:mol3/N82 $/atom:mol3/C81
$/bond:mol3/b103 @/bond:OPLSAA/013_013 $/atom:mol3/C78 $/atom:mol3/C79
$/bond:mol3/b104 @/bond:OPLSAA/013_044 $/atom:mol3/C77 $/atom:mol3/N82
$/bond:mol3/b105 @/bond:OPLSAA/048_048 $/atom:mol3/C84 $/atom:mol3/C83
$/bond:mol3/b106 @/bond:OPLSAA/048_048 $/atom:mol3/C85 $/atom:mol3/C84
$/bond:mol3/b107 @/bond:OPLSAA/048_048 $/atom:mol3/C67 $/atom:mol3/C85
$/bond:mol3/b108 @/bond:OPLSAA/048_048 $/atom:mol3/C65 $/atom:mol3/C83
$/bond:mol3/b109 @/bond:OPLSAA/013_020 $/atom:mol3/C87 $/atom:mol3/O86
$/bond:mol3/b110 @/bond:OPLSAA/013_013 $/atom:mol3/C88 $/atom:mol3/C87
$/bond:mol3/b111 @/bond:OPLSAA/013_020 $/atom:mol3/O89 $/atom:mol3/C88
$/bond:mol3/b112 @/bond:OPLSAA/020_048 $/atom:mol3/C84 $/atom:mol3/O86
$/bond:mol3/b113 @/bond:OPLSAA/020_048 $/atom:mol3/C83 $/atom:mol3/O89
$/bond:mol3/b114 @/bond:OPLSAA/013_013 $/atom:mol3/C91 $/atom:mol3/C90
$/bond:mol3/b115 @/bond:OPLSAA/013_013 $/atom:mol3/C92 $/atom:mol3/C91
$/bond:mol3/b116 @/bond:OPLSAA/013_013 $/atom:mol3/C93 $/atom:mol3/C92
$/bond:mol3/b117 @/bond:OPLSAA/013_013 $/atom:mol3/C88 $/atom:mol3/C90
$/bond:mol3/b118 @/bond:OPLSAA/013_013 $/atom:mol3/C87 $/atom:mol3/C93
$/bond:mol3/b119 @/bond:OPLSAA/048_048 $/atom:mol3/C95 $/atom:mol3/C94
$/bond:mol3/b120 @/bond:OPLSAA/048_048 $/atom:mol3/C85 $/atom:mol3/C95
$/bond:mol3/b121 @/bond:OPLSAA/048_048 $/atom:mol3/C70 $/atom:mol3/C94
$/bond:mol3/b122 @/bond:OPLSAA/048_048 $/atom:mol3/C97 $/atom:mol3/C96
$/bond:mol3/b123 @/bond:OPLSAA/048_048 $/atom:mol3/C98 $/atom:mol3/C97
$/bond:mol3/b124 @/bond:OPLSAA/048_048 $/atom:mol3/C94 $/atom:mol3/C98
$/bond:mol3/b125 @/bond:OPLSAA/048_048 $/atom:mol3/C69 $/atom:mol3/C96
$/bond:mol3/b126 @/bond:OPLSAA/048_048 $/atom:mol3/C100 $/atom:mol3/C99
$/bond:mol3/b127 @/bond:OPLSAA/048_048 $/atom:mol3/C101 $/atom:mol3/C100
$/bond:mol3/b128 @/bond:OPLSAA/048_048 $/atom:mol3/C68 $/atom:mol3/C101
$/bond:mol3/b129 @/bond:OPLSAA/048_048 $/atom:mol3/C96 $/atom:mol3/C99
$/bond:mol3/b130 @/bond:OPLSAA/020_048 $/atom:mol3/C103 $/atom:mol3/O102
$/bond:mol3/b131 @/bond:OPLSAA/048_048 $/atom:mol3/C104 $/atom:mol3/C103
$/bond:mol3/b132 @/bond:OPLSAA/020_048 $/atom:mol3/C97 $/atom:mol3/O102
$/bond:mol3/b133 @/bond:OPLSAA/048_048 $/atom:mol3/C99 $/atom:mol3/C104
$/bond:mol3/b134 @/bond:OPLSAA/013_013 $/atom:mol3/C106 $/atom:mol3/C105
$/bond:mol3/b135 @/bond:OPLSAA/013_048 $/atom:mol3/C107 $/atom:mol3/C106
$/bond:mol3/b136 @/bond:OPLSAA/013_048 $/atom:mol3/C100 $/atom:mol3/C105
$/bond:mol3/b137 @/bond:OPLSAA/048_048 $/atom:mol3/C104 $/atom:mol3/C107
$/bond:mol3/b138 @/bond:OPLSAA/013_013 $/atom:mol3/C109 $/atom:mol3/C108
$/bond:mol3/b139 @/bond:OPLSAA/013_013 $/atom:mol3/C110 $/atom:mol3/C109
$/bond:mol3/b140 @/bond:OPLSAA/013_013 $/atom:mol3/C111 $/atom:mol3/C110
$/bond:mol3/b141 @/bond:OPLSAA/013_013 $/atom:mol3/C106 $/atom:mol3/C108
$/bond:mol3/b142 @/bond:OPLSAA/013_013 $/atom:mol3/C105 $/atom:mol3/C111
$/bond:mol3/b143 @/bond:OPLSAA/048_048 $/atom:mol3/C113 $/atom:mol3/C112
$/bond:mol3/b144 @/bond:OPLSAA/048_048 $/atom:mol3/C114 $/atom:mol3/C113
$/bond:mol3/b145 @/bond:OPLSAA/048_048 $/atom:mol3/C103 $/atom:mol3/C114
$/bond:mol3/b146 @/bond:OPLSAA/048_048 $/atom:mol3/C107 $/atom:mol3/C112
$/bond:mol3/b147 @/bond:OPLSAA/013_048 $/atom:mol3/C108 $/atom:mol3/C115
$/bond:mol3/b148 @/bond:OPLSAA/048_048 $/atom:mol3/C112 $/atom:mol3/C116
$/bond:mol3/b149 @/bond:OPLSAA/048_048 $/atom:mol3/C115 $/atom:mol3/C116
$/bond:mol3/b150 @/bond:OPLSAA/013_013 $/atom:mol3/C42 $/atom:mol3/C117
$/bond:mol3/b151 @/bond:OPLSAA/013_013 $/atom:mol3/C117 $/atom:mol3/C118
$/bond:mol3/b152 @/bond:OPLSAA/013_013 $/atom:mol3/C117 $/atom:mol3/C119
$/bond:mol3/b153 @/bond:OPLSAA/005_013 $/atom:mol3/C74 $/atom:mol3/O120
$/bond:mol3/b154 @/bond:OPLSAA/048_048 $/atom:mol3/C122 $/atom:mol3/C121
$/bond:mol3/b155 @/bond:OPLSAA/048_048 $/atom:mol3/C123 $/atom:mol3/C122
$/bond:mol3/b156 @/bond:OPLSAA/048_048 $/atom:mol3/C124 $/atom:mol3/C123
$/bond:mol3/b157 @/bond:OPLSAA/048_048 $/atom:mol3/C114 $/atom:mol3/C121
$/bond:mol3/b158 @/bond:OPLSAA/048_048 $/atom:mol3/C113 $/atom:mol3/C124
$/bond:mol3/b159 @/bond:OPLSAA/048_048 $/atom:mol3/C126 $/atom:mol3/C125
$/bond:mol3/b160 @/bond:OPLSAA/048_048 $/atom:mol3/C127 $/atom:mol3/C126
$/bond:mol3/b161 @/bond:OPLSAA/048_048 $/atom:mol3/C128 $/atom:mol3/C127
$/bond:mol3/b162 @/bond:OPLSAA/048_048 $/atom:mol3/C124 $/atom:mol3/C125
$/bond:mol3/b163 @/bond:OPLSAA/048_048 $/atom:mol3/C123 $/atom:mol3/C128
$/bond:mol3/b164 @/bond:OPLSAA/048_048 $/atom:mol3/C130 $/atom:mol3/C129
$/bond:mol3/b165 @/bond:OPLSAA/048_048 $/atom:mol3/C131 $/atom:mol3/C130
$/bond:mol3/b166 @/bond:OPLSAA/048_048 $/atom:mol3/C132 $/atom:mol3/C131
$/bond:mol3/b167 @/bond:OPLSAA/048_048 $/atom:mol3/C127 $/atom:mol3/C129
$/bond:mol3/b168 @/bond:OPLSAA/048_048 $/atom:mol3/C126 $/atom:mol3/C132
$/bond:mol3/b169 @/bond:OPLSAA/048_048 $/atom:mol3/C134 $/atom:mol3/C133
$/bond:mol3/b170 @/bond:OPLSAA/048_048 $/atom:mol3/C135 $/atom:mol3/C134
$/bond:mol3/b171 @/bond:OPLSAA/048_048 $/atom:mol3/C125 $/atom:mol3/C135
$/bond:mol3/b172 @/bond:OPLSAA/048_048 $/atom:mol3/C132 $/atom:mol3/C133
$/bond:mol3/b173 @/bond:OPLSAA/048_048 $/atom:mol3/C137 $/atom:mol3/C136
$/bond:mol3/b174 @/bond:OPLSAA/048_048 $/atom:mol3/C138 $/atom:mol3/C137
$/bond:mol3/b175 @/bond:OPLSAA/048_048 $/atom:mol3/C131 $/atom:mol3/C138
$/bond:mol3/b176 @/bond:OPLSAA/048_048 $/atom:mol3/C133 $/atom:mol3/C136
$/bond:mol3/b177 @/bond:OPLSAA/048_048 $/atom:mol3/C140 $/atom:mol3/C139
$/bond:mol3/b178 @/bond:OPLSAA/048_048 $/atom:mol3/C134 $/atom:mol3/C140
$/bond:mol3/b179 @/bond:OPLSAA/048_048 $/atom:mol3/C116 $/atom:mol3/C135
$/bond:mol3/b180 @/bond:OPLSAA/048_048 $/atom:mol3/C115 $/atom:mol3/C139
$/bond:mol3/b181 @/bond:OPLSAA/048_048 $/atom:mol3/C142 $/atom:mol3/C141
$/bond:mol3/b182 @/bond:OPLSAA/048_048 $/atom:mol3/C140 $/atom:mol3/C142
$/bond:mol3/b183 @/bond:OPLSAA/048_048 $/atom:mol3/C136 $/atom:mol3/C141
$/bond:mol3/b184 @/bond:OPLSAA/013_013 $/atom:mol3/C144 $/atom:mol3/C143
$/bond:mol3/b185 @/bond:OPLSAA/013_013 $/atom:mol3/C145 $/atom:mol3/C144
$/bond:mol3/b186 @/bond:OPLSAA/003_013 $/atom:mol3/C146 $/atom:mol3/C145
$/bond:mol3/b187 @/bond:OPLSAA/013_048 $/atom:mol3/C142 $/atom:mol3/C143
$/bond:mol3/b188 @/bond:OPLSAA/003_048 $/atom:mol3/C141 $/atom:mol3/C146
$/bond:mol3/b189 @/bond:OPLSAA/003_004 $/atom:mol3/C146 $/atom:mol3/O147
$/bond:mol3/b190 @/bond:OPLSAA/013_046 $/atom:mol3/C1 $/atom:mol3/H148
$/bond:mol3/b191 @/bond:OPLSAA/013_046 $/atom:mol3/C1 $/atom:mol3/H149
$/bond:mol3/b192 @/bond:OPLSAA/013_046 $/atom:mol3/C2 $/atom:mol3/H150
$/bond:mol3/b193 @/bond:OPLSAA/013_046 $/atom:mol3/C2 $/atom:mol3/H151
$/bond:mol3/b194 @/bond:OPLSAA/013_046 $/atom:mol3/C3 $/atom:mol3/H152
$/bond:mol3/b195 @/bond:OPLSAA/013_046 $/atom:mol3/C4 $/atom:mol3/H153
$/bond:mol3/b196 @/bond:OPLSAA/013_046 $/atom:mol3/C5 $/atom:mol3/H154
$/bond:mol3/b197 @/bond:OPLSAA/013_046 $/atom:mol3/C5 $/atom:mol3/H155
$/bond:mol3/b198 @/bond:OPLSAA/013_046 $/atom:mol3/C7 $/atom:mol3/H156
$/bond:mol3/b199 @/bond:OPLSAA/013_046 $/atom:mol3/C8 $/atom:mol3/H157
$/bond:mol3/b200 @/bond:OPLSAA/013_046 $/atom:mol3/C9 $/atom:mol3/H158
$/bond:mol3/b201 @/bond:OPLSAA/013_046 $/atom:mol3/C9 $/atom:mol3/H159
$/bond:mol3/b202 @/bond:OPLSAA/013_046 $/atom:mol3/C10 $/atom:mol3/H160
$/bond:mol3/b203 @/bond:OPLSAA/013_046 $/atom:mol3/C10 $/atom:mol3/H161
$/bond:mol3/b204 @/bond:OPLSAA/013_046 $/atom:mol3/C12 $/atom:mol3/H162
$/bond:mol3/b205 @/bond:OPLSAA/013_046 $/atom:mol3/C13 $/atom:mol3/H163
$/bond:mol3/b206 @/bond:OPLSAA/013_046 $/atom:mol3/C14 $/atom:mol3/H164
$/bond:mol3/b207 @/bond:OPLSAA/013_046 $/atom:mol3/C14 $/atom:mol3/H165
$/bond:mol3/b208 @/bond:OPLSAA/013_046 $/atom:mol3/C18 $/atom:mol3/H166
$/bond:mol3/b209 @/bond:OPLSAA/013_046 $/atom:mol3/C23 $/atom:mol3/H167
$/bond:mol3/b210 @/bond:OPLSAA/013_046 $/atom:mol3/C23 $/atom:mol3/H168
$/bond:mol3/b211 @/bond:OPLSAA/013_046 $/atom:mol3/C24 $/atom:mol3/H169
$/bond:mol3/b212 @/bond:OPLSAA/013_046 $/atom:mol3/C24 $/atom:mol3/H170
$/bond:mol3/b213 @/bond:OPLSAA/046_047 $/atom:mol3/C25 $/atom:mol3/H171
$/bond:mol3/b214 @/bond:OPLSAA/013_046 $/atom:mol3/C35 $/atom:mol3/H173
$/bond:mol3/b215 @/bond:OPLSAA/013_046 $/atom:mol3/C35 $/atom:mol3/H174
$/bond:mol3/b216 @/bond:OPLSAA/046_047 $/atom:mol3/C36 $/atom:mol3/H175
$/bond:mol3/b217 @/bond:OPLSAA/013_046 $/atom:mol3/C37 $/atom:mol3/H176
$/bond:mol3/b218 @/bond:OPLSAA/013_046 $/atom:mol3/C37 $/atom:mol3/H177
$/bond:mol3/b219 @/bond:OPLSAA/013_046 $/atom:mol3/C38 $/atom:mol3/H178
$/bond:mol3/b220 @/bond:OPLSAA/013_046 $/atom:mol3/C38 $/atom:mol3/H179
$/bond:mol3/b221 @/bond:OPLSAA/013_046 $/atom:mol3/C41 $/atom:mol3/H180
$/bond:mol3/b222 @/bond:OPLSAA/013_046 $/atom:mol3/C41 $/atom:mol3/H181
$/bond:mol3/b223 @/bond:OPLSAA/013_046 $/atom:mol3/C42 $/atom:mol3/H182
$/bond:mol3/b224 @/bond:OPLSAA/013_046 $/atom:mol3/C43 $/atom:mol3/H183
$/bond:mol3/b225 @/bond:OPLSAA/013_046 $/atom:mol3/C43 $/atom:mol3/H184
$/bond:mol3/b226 @/bond:OPLSAA/013_046 $/atom:mol3/C44 $/atom:mol3/H185
$/bond:mol3/b227 @/bond:OPLSAA/013_046 $/atom:mol3/C44 $/atom:mol3/H186
$/bond:mol3/b228 @/bond:OPLSAA/048_049 $/atom:mol3/C46 $/atom:mol3/H187
$/bond:mol3/b229 @/bond:OPLSAA/048_049 $/atom:mol3/C50 $/atom:mol3/H188
$/bond:mol3/b230 @/bond:OPLSAA/048_049 $/atom:mol3/C57 $/atom:mol3/H189
$/bond:mol3/b231 @/bond:OPLSAA/048_049 $/atom:mol3/C63 $/atom:mol3/H190
$/bond:mol3/b232 @/bond:OPLSAA/013_046 $/atom:mol3/C72 $/atom:mol3/H191
$/bond:mol3/b233 @/bond:OPLSAA/013_046 $/atom:mol3/C73 $/atom:mol3/H192
$/bond:mol3/b234 @/bond:OPLSAA/013_046 $/atom:mol3/C74 $/atom:mol3/H193
$/bond:mol3/b235 @/bond:OPLSAA/013_046 $/atom:mol3/C75 $/atom:mol3/H194
$/bond:mol3/b236 @/bond:OPLSAA/013_046 $/atom:mol3/C75 $/atom:mol3/H195
$/bond:mol3/b237 @/bond:OPLSAA/013_046 $/atom:mol3/C76 $/atom:mol3/H196
$/bond:mol3/b238 @/bond:OPLSAA/013_046 $/atom:mol3/C76 $/atom:mol3/H197
$/bond:mol3/b239 @/bond:OPLSAA/013_046 $/atom:mol3/C77 $/atom:mol3/H198
$/bond:mol3/b240 @/bond:OPLSAA/013_046 $/atom:mol3/C78 $/atom:mol3/H199
$/bond:mol3/b241 @/bond:OPLSAA/013_046 $/atom:mol3/C79 $/atom:mol3/H200
$/bond:mol3/b242 @/bond:OPLSAA/013_046 $/atom:mol3/C79 $/atom:mol3/H201
$/bond:mol3/b243 @/bond:OPLSAA/013_046 $/atom:mol3/C80 $/atom:mol3/H202
$/bond:mol3/b244 @/bond:OPLSAA/013_046 $/atom:mol3/C80 $/atom:mol3/H203
$/bond:mol3/b245 @/bond:OPLSAA/013_046 $/atom:mol3/C81 $/atom:mol3/H204
$/bond:mol3/b246 @/bond:OPLSAA/013_046 $/atom:mol3/C81 $/atom:mol3/H205
$/bond:mol3/b247 @/bond:OPLSAA/044_045 $/atom:mol3/N82 $/atom:mol3/H206
$/bond:mol3/b248 @/bond:OPLSAA/013_046 $/atom:mol3/C87 $/atom:mol3/H207
$/bond:mol3/b249 @/bond:OPLSAA/013_046 $/atom:mol3/C88 $/atom:mol3/H208
$/bond:mol3/b250 @/bond:OPLSAA/013_046 $/atom:mol3/C90 $/atom:mol3/H209
$/bond:mol3/b251 @/bond:OPLSAA/013_046 $/atom:mol3/C90 $/atom:mol3/H210
$/bond:mol3/b252 @/bond:OPLSAA/013_046 $/atom:mol3/C91 $/atom:mol3/H211
$/bond:mol3/b253 @/bond:OPLSAA/013_046 $/atom:mol3/C91 $/atom:mol3/H212
$/bond:mol3/b254 @/bond:OPLSAA/013_046 $/atom:mol3/C92 $/atom:mol3/H213
$/bond:mol3/b255 @/bond:OPLSAA/013_046 $/atom:mol3/C92 $/atom:mol3/H214
$/bond:mol3/b256 @/bond:OPLSAA/013_046 $/atom:mol3/C93 $/atom:mol3/H215
$/bond:mol3/b257 @/bond:OPLSAA/013_046 $/atom:mol3/C93 $/atom:mol3/H216
$/bond:mol3/b258 @/bond:OPLSAA/048_049 $/atom:mol3/C95 $/atom:mol3/H217
$/bond:mol3/b259 @/bond:OPLSAA/048_049 $/atom:mol3/C98 $/atom:mol3/H218
$/bond:mol3/b260 @/bond:OPLSAA/048_049 $/atom:mol3/C101 $/atom:mol3/H219
$/bond:mol3/b261 @/bond:OPLSAA/013_046 $/atom:mol3/C105 $/atom:mol3/H220
$/bond:mol3/b262 @/bond:OPLSAA/013_046 $/atom:mol3/C106 $/atom:mol3/H221
$/bond:mol3/b263 @/bond:OPLSAA/013_046 $/atom:mol3/C108 $/atom:mol3/H222
$/bond:mol3/b264 @/bond:OPLSAA/013_046 $/atom:mol3/C109 $/atom:mol3/H223
$/bond:mol3/b265 @/bond:OPLSAA/013_046 $/atom:mol3/C109 $/atom:mol3/H224
$/bond:mol3/b266 @/bond:OPLSAA/013_046 $/atom:mol3/C110 $/atom:mol3/H225
$/bond:mol3/b267 @/bond:OPLSAA/013_046 $/atom:mol3/C110 $/atom:mol3/H226
$/bond:mol3/b268 @/bond:OPLSAA/013_046 $/atom:mol3/C111 $/atom:mol3/H227
$/bond:mol3/b269 @/bond:OPLSAA/013_046 $/atom:mol3/C111 $/atom:mol3/H228
$/bond:mol3/b270 @/bond:OPLSAA/013_046 $/atom:mol3/C117 $/atom:mol3/H229
$/bond:mol3/b271 @/bond:OPLSAA/013_046 $/atom:mol3/C118 $/atom:mol3/H230
$/bond:mol3/b272 @/bond:OPLSAA/013_046 $/atom:mol3/C118 $/atom:mol3/H231
$/bond:mol3/b273 @/bond:OPLSAA/013_046 $/atom:mol3/C118 $/atom:mol3/H232
$/bond:mol3/b274 @/bond:OPLSAA/013_046 $/atom:mol3/C119 $/atom:mol3/H233
$/bond:mol3/b275 @/bond:OPLSAA/013_046 $/atom:mol3/C119 $/atom:mol3/H234
$/bond:mol3/b276 @/bond:OPLSAA/013_046 $/atom:mol3/C119 $/atom:mol3/H235
$/bond:mol3/b277 @/bond:OPLSAA/005_007 $/atom:mol3/O120 $/atom:mol3/H236
$/bond:mol3/b278 @/bond:OPLSAA/048_049 $/atom:mol3/C121 $/atom:mol3/H237
$/bond:mol3/b279 @/bond:OPLSAA/048_049 $/atom:mol3/C122 $/atom:mol3/H238
$/bond:mol3/b280 @/bond:OPLSAA/048_049 $/atom:mol3/C128 $/atom:mol3/H239
$/bond:mol3/b281 @/bond:OPLSAA/048_049 $/atom:mol3/C129 $/atom:mol3/H240
$/bond:mol3/b282 @/bond:OPLSAA/048_049 $/atom:mol3/C130 $/atom:mol3/H241
$/bond:mol3/b283 @/bond:OPLSAA/048_049 $/atom:mol3/C137 $/atom:mol3/H242
$/bond:mol3/b284 @/bond:OPLSAA/048_049 $/atom:mol3/C138 $/atom:mol3/H243
$/bond:mol3/b285 @/bond:OPLSAA/048_049 $/atom:mol3/C139 $/atom:mol3/H244
$/bond:mol3/b286 @/bond:OPLSAA/013_046 $/atom:mol3/C143 $/atom:mol3/H245
$/bond:mol3/b287 @/bond:OPLSAA/013_046 $/atom:mol3/C143 $/atom:mol3/H246
$/bond:mol3/b288 @/bond:OPLSAA/013_046 $/atom:mol3/C144 $/atom:mol3/H247
$/bond:mol3/b289 @/bond:OPLSAA/013_046 $/atom:mol3/C144 $/atom:mol3/H248
$/bond:mol3/b290 @/bond:OPLSAA/013_046 $/atom:mol3/C145 $/atom:mol3/H249
$/bond:mol3/b291 @/bond:OPLSAA/013_046 $/atom:mol3/C145 $/atom:mol3/H250
$/bond:mol3/b292 @/bond:OPLSAA/013_046 $/atom:mol3/C31 $/atom:mol3/H172
$/bond:mol4/ch1 @/bond:OPLSAA/013_046 $/atom:mol4/c $/atom:mol4/h1
$/bond:mol4/ch2 @/bond:OPLSAA/013_046 $/atom:mol4/c $/atom:mol4/h2
$/bond:mol4/ch3 @/bond:OPLSAA/013_046 $/atom:mol4/c $/atom:mol4/h3
$/bond:mol4/ch4 @/bond:OPLSAA/013_046 $/atom:mol4/c $/atom:mol4/h4
